    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>

<p id="notice"><%= notice %></p>

<a href="/admin">Admin Home</a>

<h1>Listing Questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Body</th>
      <th>Yesの回数</th>
      <th>Noの回数</th>
      <th>Yesの割合</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.body %></td>
        <td><%= @qYes[question] %></td>
        <td><%= @qNo[question] %></td>
        <td><%= 1.0*@qYes[question]/(@qYes[question]+@qNo[question]) %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
