
<!DOCTYPE html>
<html>
<!-- MEMO: update me with `git checkout gh-pages && git merge master && git push origin gh-pages` -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
    <!--Pointer-->
    <script src="/pointer/pointer.1.js"></script>
  
    <!-- Bootstrap Material Design -->
    <link href="/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/dist/css/ripples.min.css" rel="stylesheet">
    <script src="/dist/js/ripples.min.js"></script>
    <script src="/dist/js/material.min.js"></script>
    
    <script>
    
      (function () {
    
        var $button = $("<div id='source-button' class='btn btn-primary btn-xs'>&lt; &gt;</div>").click(function () {
          var index = $('.bs-component').index($(this).parent());
          $.get(window.location.href, function (data) {
            var html = $(data).find('.bs-component').eq(index).html();
            html = cleanSource(html);
            $("#source-modal pre").text(html);
            $("#source-modal").modal();
          })
    
        });
    
        $('.bs-component [data-toggle="popover"]').popover();
        $('.bs-component [data-toggle="tooltip"]').tooltip();
    
        $(".bs-component").hover(function () {
          $(this).append($button);
          $button.show();
        }, function () {
          $button.hide();
        });
    
        function cleanSource(html) {
          var lines = html.split(/\n/);
    
          lines.shift();
          lines.splice(-1, 1);
    
          var indentSize = lines[0].length - lines[0].trim().length,
              re = new RegExp(" {" + indentSize + "}");
    
          lines = lines.map(function (line) {
            if (line.match(re)) {
              line = line.substring(indentSize);
            }
    
            return line;
          });
    
          lines = lines.join("\n");
    
          return lines;
        }
    
        $(".icons-material .icon").each(function () {
          $(this).after("<br><br><code>" + $(this).attr("class").replace("icon ", "") + "</code>");
        });
    
      })();
      
    
    </script>
    
    <!--Slick-->
    <link href="/slick/slick.css" type="text/css" rel="stylesheet">
    <link href="/slick/slick-theme.css" type="text/css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" type="text/javascript" ></script>
    <script src="/slick/slick.min.js"></script>
    
    <script>
    
      $(function() {
      $('.single-item').slick({dots: true});
      });
      
      $(function() {
      $('.triple-item').slick({dots: true, autoplay: true, autoplaySpeed: 2000, slidesToShow: 3});
      });
    </script>
    
    <title>GiftApp Res</title>
    
    <!--**********Main Script Start**********-->
    <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        function getXMLHttpRequestObject(){
            var ajax=null;
            if(window.XMLHttpRequest){
                ajax=new XMLHttpRequest();
            } else if (window.ActiveObject){
                ajax=new ActiveObject('MSXML2.XMLHTTP.3.0');
            }
            return ajax;
        }
    
        var ajax=getXMLHttpRequestObject();
            
        var hearts     = document.getElementsByClassName("heart");
        var giftnames  = document.getElementsByClassName("giftname");
        var gifturls   = document.getElementsByClassName("gifturl");
        var giftimgs   = document.getElementsByClassName("giftimg");
        
        i=1;
        <% @giftRes.each do |exp| %>
        giftnames[i].innerText= "<%= exp.name %>";
        gifturls[i].href = "<%= exp.url %>";
        giftimgs[i].src = "/gifts/<%= exp.id %>/img";
        i++;
        <% end %>
        
        j=1;
        elm_num=[0,0,0,0,0,0,0,0];
        
        <% @giftRes.each do |exp| %>
          hearts[j].onclick=function(s) {
            return function(){
              if(elm_num[s]%2==0) {
                ajax.onreadystatechange=function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                        document.getElementById('output').innerHTML=ajax.responseText;
                        hearts[s].src = "/image/heart.png";
                    }
                    else {
                        document.getElementById('output').innerHTML=ajax.statusText;
                    }
                  }
                }
                ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]++;
              }
              else{
                ajax.onreadystatechange = function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                        document.getElementById('output').innerHTML=ajax.responseText;
                        hearts[s].src= "/image/emptyheart2.png";
                    }
                    else {
                        document.getElementById('output').innerHTML=ajax.statusText;
                    }
                  }
                }
                ajax.open('GET','/result/countdown?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]++;
              }
            }
          }(j)
          j++;
        <% end %>
        
        // 質問がなくなった際に，Continueできなくする
        continuebtn=document.getElementById("continuebtn");
        if (<%= @continue_display %>==1 ) {
          continuebtn.href="javascript:void(0)";
          continuebtn.onclick = function() {
              continuebtn.innerHTML="<font size='5em' color='#FFFFFF'>No Question Left</font>";
          }
        }
        else {
        }
    
        }
    <% end %>
  <!--**********Main Script End**********-->
    
  
  <style>
    body {
      position: relative;
      /*background-image: url("/image/background.jpg");*/
      /*background-size: cover;*/
      /*グラデーション試してみた*/
      background: linear-gradient(#FF0022,rgb(0,30,67)) fixed;
      /*background: #ee9ca7; /* fallback for old browsers */
      /*background: -webkit-linear-gradient(#ee9ca7 , #ffdde1); /* Chrome 10-25, Safari 5.1-6 */
      /*background: linear-gradient(#ee9ca7 , #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
    }
    
    /*Header*/
    
    .appname {
      margin-left: auto;
      margin-right: auto;
      padding: 3%;
      /*background: url("/image/s_backlogo3.png");*/
      height: 20%;
      background-color : rgba(0,30,67,0);
      position: relative;
    }
    .appname p {
      /*line-height: 10%;*/
      font-size: 3em;
      text-align: center;
      text-shadow: 1px 1px 10px #FFFFFF;
      /*color: #000;*/
    }
    
    .home {
      height: 80%;
      width: 20%;
      padding:;
      position: absolute;
      right: 3%;
      top: 10%;
    }
    
    .home:hover {
      background-color: rgba(0,0,0,0);
      transform: scale(1.5);
    }
    .logo {
      height: 100%;
    }
    
    .result {
      /*background-color: rgba(0,30,67,0.5);*/
      background-image: url("/image/fogheader.png");
      background-size:cover;
    }
    
    .gift {
      margin-top: 1%;
      background-color: rgba(255,255,255,0.5);
      padding-bottom: 50px;
    }
    
    .giftimg {
      margin-left:auto;
      margin-right:auto;
      /*Gift Imageの隅*/
      border-radius: 30px;
      height: 300px;
    }

    .tabtn {
      text-align: center;
    }
    
    .giftheader {
        text-align: center;
        /*color: #FFFFFF;*/
        position: relative;
    }
    
    .giftname h1{
      margin-top: 0;
    }
    
    .heart {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 5px;
      right: 25%;
    }
    
    .heart:hover {
      transform: scale(2.5);
    }
    
    .likes {
      padding-bottom: 5%;
      background-color: rgba(0,30,67,0);
    }
    .like_text {
      text-align: center;
      color: #FFFFFF;
    }
    .like {
      height: 30%;
      width: 30%;
    }
    .likeimg {
      margin-left: auto;
      margin-right: auto;
      height: 30%;
      width: 100%;
    }
    
    .slick-prev:before,
    .slick-next:before {
        color: #000;
    }
    /*左右の矢印の位置を変える*/
    .slick-next {
        right: 20px;
        z-index: 99;
    }
    .slick-prev {
        left: 15px;
        z-index: 100;
    }
    /*スライド数のドットの色を変える*/
    .slick-dots li.slick-active button:before,
    .slick-dots li button:before {
        color: #fff;
    }
    
    .slick-dots {
      top:102%;
      left:-1%;
    }
    /*スライド画像の横幅可変*/
    .slick img {
        max-width: 100%;
        height: auto;
    }
    .slider {
      background-color: rgba(255,255,255,0);
    }
    
    .console {
      background-color: #FFFFFF;
    }

  </style>
  
  </head>
    <body>
    <!-- <img class="homebtn" src="image/heart.png" height="50px" width="50px"> -->
    <div class="appname">
      <p><strong>Result</strong></p>
      <a href="/" class="home"><img class="logo" src="/image/galogo.png"></a>
      </div>
    </div>
    <div class="result">
      <div class="container">
        <div class="row">
          <div class="col-xs-1">
          </div>
          <div class="col-xs-10 slider single-item">
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h1 class="giftname"></h1>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl"><img class="giftimg"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h1 class="giftname"></h1>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl"><img class="giftimg"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h1 class="giftname"></h1>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl"><img class="giftimg"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h1 class="giftname"></h1>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl"><img class="giftimg"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h1 class="giftname"></h1>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl"><img class="giftimg"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h1 class="giftname"></h1>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl"><img class="giftimg"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
          </div>
          <div class="col-xs-1">
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-4 tabtn">
            <a href="/qflow" class="btn btn-default"><font size="5em">Try Again &raquo;</font></a>
          </div>
          <div class="col-xs-4 tabtn">
            <a href="/qflow_continue" class="btn btn-default" id="continuebtn" ><font size="5em">Continue &raquo;</font></a>
          </div>
          <div class="col-xs-2">
          </div>
        </div>
      </div>
    </div>
    <div class="likes">
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <h1 class="like_text">Here are gifts you choose!!</h1>
            <div class="slider triple-item">
              <div class="like"><%= image_tag(img_gift_path(@Likes[0]),  :class => "likeimg") %></div>
              <div class="like"><%= image_tag(img_gift_path(@Likes[1]),  :class => "likeimg") %></div>
              <div class="like"><%= image_tag(img_gift_path(@Likes[2]),  :class => "likeimg") %></div>
              <div class="like"><%= image_tag(img_gift_path(@Likes[3]),  :class => "likeimg") %></div>
              <div class="like"><%= image_tag(img_gift_path(@Likes[4]),  :class => "likeimg") %></div>
            </div>
          </div>
          <div class="col-xs-1"></div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br>
    <div class="console">
      ベイズ<%= @bayes.values %>
    <BR>
    期待値<%= @giftExp.values %>
    <BR>
    期待値_new<%= @giftExp_new.values %>
    <BR>
    Question<%= @qarray.join(",") %>
    <p id="output"></p>
    </div>

  </body>
</html>