<%= provide(:title, "Result") %>

<!--Slick-->
<link href="/slick/slick.css" type="text/css" rel="stylesheet">
<link href="/slick/slick-theme.css" type="text/css" rel="stylesheet">
<script src="/slick/slick.js"></script>

<link href="/layout/css/slider.css" type="text/css" rel="stylesheet">
<script src="/layout/js/slider.js"></script>

<link href="/layout/css/result.css" type="text/css" rel="stylesheet">
    
<!--**********Main Script Start**********-->
<%= javascript_tag do %>
  window.onload=init;
  
  function init(){
  function getXMLHttpRequestObject(){
    var ajax=null;
    if(window.XMLHttpRequest){
        ajax=new XMLHttpRequest();
    } else if (window.ActiveObject){
        ajax=new ActiveObject('MSXML2.XMLHTTP.3.0');
    }
    return ajax;
  }
  
  var ajax=getXMLHttpRequestObject();
    
  var hearts     = document.getElementsByClassName("heart");
  var giftnames  = document.getElementsByClassName("giftname");
  var gifturls   = document.getElementsByClassName("gifturl");
  var giftimgs   = document.getElementsByClassName("giftimg");
  var giftcontents = document.getElementsByClassName("giftcontent");
  var companynames = document.getElementsByClassName("companyname");
  var twitters = document.getElementsByClassName("twitter");
  var facebooks = document.getElementsByClassName("facebook");
  <!--var googlePluss = document.getElementsByClassName("googlePlus");-->
  var lines = document.getElementsByClassName("line");
  <!--var prices = document.getElementsByClassName("price");-->
  <!--var pricetags = document.getElementsByClassName("price_tags");-->
  
  i=0;
  hiduke=new Date();
  <% @giftRes.each do |exp| %>
  giftnames[i].innerHTML= "<%= exp.name %>";
  giftnames[i].href= "<%= exp.url %>";
  gifturls[i].href = "<%= exp.url %>";
  gifturls[i].innerHTML = "<%= exp.url %>";
  giftimgs[i].style ="background-image: url('/gifts/<%= exp.id %>/img');";
  companynames[i].innerHTML= "<%= exp.company_name %>";
  twitters[i].href = "http://twitter.com/intent/tweet?text=<%= exp.name %>&url=<%= exp.url %>&via=MoccaGift";
  facebooks[i].href = "http://www.facebook.com/share.php?u=<%= exp.url %>";
  <!--googlePluss[i].href = "javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=<%#= exp.url %>'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();";-->
  lines[i].href = "http://line.me/R/msg/text/?<%= exp.name %>%0D%0A<%= exp.url %>";
  i++;
  <% end %>
  
  j=0;
  elm_num=[0,0,0,0,0,0,0,0];
  
  
  <% @giftRes.each do |exp| %>
  hearts[j].onclick = function(s) {
    return function(event) {
           switch(elm_num[s]) {
              case -1:
                hearts[s].style = "background-image: url('/image/emptyheart2.png');";
                ajax.onreadystatechange=function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                    }
                    else {
                    }
                  }
                }
                ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]=0;
                break;
              case 0:
                hearts[s].style = "background-image: url('/image/heart.png');";
                ajax.onreadystatechange=function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                    }
                    else {
                    }
                  }
                }
                ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]=1;
                break;
              case 1:
                hearts[s].style = "background-image: url('/image/dislike.png');";
                ajax.onreadystatechange=function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                    }
                    else {
                    }
                  }
                }
                ajax.open('GET','/result/countdown2?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]=-1;
                break;
                }
      }
  }(j)
  j++;
  <% end %>
        
  // 質問がなくなった際に，Continueできなくする
  continuebtn=document.getElementById("continuebtn");
  if (<%= @continue_display %>==1 ) {
    continuebtn.style="display: none;";
  }
  else {
  }

  }
<% end %>
<!--**********Main Script End**********-->

<style>
  .wrap {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255,255,255,0.7);
    /*margin-bottom: 30px;*/
  }
  .wrap:after {
    content: "";
    display:block;
    clear: both;
  }
  .slideheader {
    position: relative;
    overflow: hidden;
    height: 150px;
  }
  .slideheader:after {
    content: "";
    display: block;
    clear: both;
  }
  .downbtn {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 150px;
  }
  .giftheader {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: block;
    margin-top: 50px;
    position: relative;
  }
  
  .giftheader:before {
    content:"“";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
  }
  .giftheader:after {
    content:"”";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    right: 0;
  }
  
  .giftcontent {
    /*position: absolute;*/
    /*top: 100px;*/
    display:none;
    position: relative;
  }
  .heart {
    position: absolute;
    display:block;
    height: 50px;
    width: 50px;
    background-image: url("/image/emptyheart2.png");
    background-size: contain;
    /*background-color: rgba(245,245,245,0.7);*/
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    right: 20px;
    top: 50%;
    margin-top: -25px;
  }
  .giftimg {
    height: 150px;
    width: 150px;
    /*background-image: url('/image/Twitter.png');*/
    background-size: cover;
    margin: auto;
    margin-top: 25px;
  }
  .col {
    width: 50%;
    float:left;
    padding-bottom: 20px;
  }
  
  
  .price-tag {
    position: absolute;
    display:block;
    color: white;
    height: 40px;
    width: 200px;
    text-align: center;
    line-height:30px;
    top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.3);
  }
  .price-tag:before,
  .price-tag:after {
      position: absolute;
      bottom: -1px;
      width: 8px;
      height: 8px;
      content: " ";
  }
  .price-tag:after, .price-tag:before {
      border: 1px solid #AAA;
  }
  .price-tag:before {
      left: -8px;
      box-shadow: 3px 3px 0 red;
      border-bottom-right-radius: 8px;
      border-width: 0 1px 1px 0;
  }
  .price-tag:after {
      right: -8px;
      box-shadow: -3px 3px 0 red;
      border-bottom-left-radius: 8px;
      border-width: 0 0 1px 1px;
  }
  
  
  
  
  .tag1 {
    background-color: #651366;
    left: 470px;
  }
  .price-tag.tag1:after, .price-tag.tag1:before {
      border: 1px solid #651366;
  }
  .price-tag.tag1:before {
      left: -8px;
      box-shadow: 3px 3px 0 #651366;
      border-bottom-right-radius: 8px;
      border-width: 0 1px 1px 0;
  }
  .price-tag.tag1:after {
      right: -8px;
      box-shadow: -3px 3px 0 #651366;
      border-bottom-left-radius: 8px;
      border-width: 0 0 1px 1px;
  }
  .wrap1 {
    border: solid 5px #651366;
    border-radius: 10px;
    /*background-color: rgba(101,19,102,0.5);*/
  }
  .tag2 {
    background-color: #C60052;
    left: 280px;
  }
  .price-tag.tag2:after, .price-tag.tag2:before {
      border: 1px solid #C60052;
  }
  .price-tag.tag2:before {
      left: -8px;
      box-shadow: 3px 3px 0 #C60052;
      border-bottom-right-radius: 8px;
      border-width: 0 1px 1px 0;
  }
  .price-tag.tag2:after {
      right: -8px;
      box-shadow: -3px 3px 0 #C60052;
      border-bottom-left-radius: 8px;
      border-width: 0 0 1px 1px;
  }
  .wrap2 {
    border: solid 5px #C60052;
    border-radius: 10px;
    /*background-color: rgba(198,0,82,0.5);*/
  }
  .tag3 {
    background-color: #FF714B;
    left: 90px;
  }
  .price-tag.tag3:after, .price-tag.tag3:before {
      border: 1px solid #FF714B;
  }
  .price-tag.tag3:before {
      left: -8px;
      box-shadow: 3px 3px 0 #FF714B;
      border-bottom-right-radius: 8px;
      border-width: 0 1px 1px 0;
  }
  .price-tag.tag3:after {
      right: -8px;
      box-shadow: -3px 3px 0 #FF714B;
      border-bottom-left-radius: 8px;
      border-width: 0 0 1px 1px;
  }
  .wrap3 {
    border: solid 5px #FF714B;
    border-radius: 10px;
    /*background-color: rgba(255,13,75,0.5);*/
  }
  
  .after-wrap {
    border-top: solid 5px rgba(0,0,0,0);
  }
  .row {
    position: relative;
    margin-top: 30px;
  }
  .wrapping {
    position:absolute;
    top: 40px;
    left:0;
    right:0;
    display:none;
  }
  .wrapping:after {
    content:"";
    display: block;
    clear: both;
  }
  
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  .selected {
    display: block;
    z-index: 1;
  }
  
  .choices {
    /*position: absolute;*/
    /*bottom: -100px;*/
  }
  
  .text {
    text-align: center;
    font-size: 24px;
  }
</style>
<style>
  .share {
    position: absolute;
    width: 40px;
    height: 150px;
    top: 5px;
    left: 10px;
  }
  .share-box {
    height: 35px;
    width: 35px;
    float: left;
  }
  .share-button {
    display:block;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-size: 35px 35px;
    text-indent: -9999px;
  }
  .phrase {
    background-image: url("/image/share.png");
  }
  .twitter {
    background-image: url('/image/Twitter.png');
  }
  .facebook {
    background-image: url('/image/Facebook.png');
  }
  .googlePlus {
    background-image: url('/image/Google+.png');
  }
  .line {
    background-image: url('/image/Line.png');
  }
</style>
<script>
$(document).ready(function(){
  // $('.downbtn').on('click',function(){
  //     $(".giftcontent").slideToggle();
  // });
  // num=[0,0,0,0,0,0];
  // $('.downbtn').each(function(i,elm){
  //   $(elm).on('click', function(){
  //     $(".giftcontent").eq(i).slideToggle();
  //     if(num[i]%2==0){
  //       $(this).html("&#9650;");
  //     } else {
  //       $(this).html("&#9660;");
  //     }
  //     num[i]++;
  //   });
  // });
  
  $('.price-tag').each(function(i,elm){
    $(elm).on('click', function(){
      $('.price-tag').each(function(j,elem){
        $(elem).removeClass('selected');
        $('.wrapping').eq(j).removeClass('selected');
      });
      $(elm).addClass("selected");
      $('.wrapping').eq(i).addClass('selected');
    });
  });
  
});
</script>
  <!--<div class="text">こんなプレゼントはいかがでしょう...</div>-->
<div class="contents">
  <div class="row">
  <a class="price-tag tag1 btn"><strong>10,000円～</strong></a>
  <a class="price-tag tag2 btn"><strong>5,000円～10,000円</strong></a>
  <a class="price-tag tag3 btn selected"><strong>～5,000円</strong></a>
  
  <div class="wrapping">
    <div class="wrap wrap1">
      <div class="slideheader">
        <div class="giftheader"><strong><a class="giftname" style="font-size:18px;" target="_blank"></a></strong><p class="companyname"></p></div>
        <a class="heart btn"></a>
        <div class="share">
            <div class="share-box"><div class="share-button phrase"></div></div>
            <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
            <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
            <!--<div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>-->
            <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
        </div><!-- / #share -->  
      </div>
      <div class="giftcontent">
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
          </div>
      </div>
    </div>
    
    <div class="wrap wrap1 after-wrap">
      <div class="slideheader">
        <div class="giftheader"><strong><a class="giftname" style="font-size:18px;" target="_blank"></a></strong><p class="companyname"></p></div>
        <a class="heart btn"></a>
        <div class="share">
            <div class="share-box"><div class="share-button phrase"></div></div>
            <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
            <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
            <!--<div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>-->
            <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
        </div><!-- / #share --> 
      </div>
      <div class="giftcontent">
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
          </div>
        </div>
      </div>
    </div>
    
    <div class="wrapping">
    <div class="wrap wrap2">
      <div class="slideheader">
        <div class="giftheader"><strong><a class="giftname" style="font-size:18px;" target="_blank"></a></strong><p class="companyname"></p></div>
        <a class="heart btn"></a>
        <div class="share">
            <div class="share-box"><div class="share-button phrase"></div></div>
            <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
            <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
            <!--<div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>-->
            <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
        </div><!-- / #share -->  
      </div>
      <div class="giftcontent">
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
          </div>
      </div>
    </div>
    
    <div class="wrap wrap2 after-wrap">
      <div class="slideheader">
        <div class="giftheader"><strong><a class="giftname" style="font-size:18px;" target="_blank"></a></strong><p class="companyname"></p></div>
        <a class="heart btn"></a>
        <div class="share">
            <div class="share-box"><div class="share-button phrase"></div></div>
            <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
            <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
            <!--<div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>-->
            <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
        </div><!-- / #share -->  
      </div>
      <div class="giftcontent">
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
          </div>
        </div>
      </div>
    </div>
    
    <div class="wrapping selected">
    <div class="wrap wrap3">
      <div class="slideheader">
        <div class="giftheader"><strong><a class="giftname" style="font-size:18px;" target="_blank"></a></strong><p class="companyname"></p></div>
        <a class="heart btn"></a>
        <div class="share">
            <div class="share-box"><div class="share-button phrase"></div></div>
            <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
            <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
            <!--<div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>-->
            <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
        </div><!-- / #share -->  
      </div>
      <div class="giftcontent">
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
          </div>
      </div>
    </div>
    
    <div class="wrap wrap3 after-wrap">
      <div class="slideheader">
        <div class="giftheader"><strong><a class="giftname" style="font-size:18px;" target="_blank"></a></strong><p class="companyname"></p></div>
        <a class="heart btn"></a>
        <div class="share">
            <div class="share-box"><div class="share-button phrase"></div></div>
            <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
            <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
            <!--<div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>-->
            <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
        </div><!-- / #share -->  
      </div>
      <div class="giftcontent">
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  


  <div class="row choices">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <a href="/qflow_continue" data-no-turbolink="1" class="tabtn continue" id="continuebtn"></a>
    </div>
    <div class="col-xs-4">
      <a href="/qflow" data-no-turbolink="1" class="tabtn findfor"></a>
    </div>
    <div class="col-xs-2">
    </div>
  </div>