    <%= provide(:title, "Result") %>
    
    <!--Slick-->
    <link href="/slick/slick.css" type="text/css" rel="stylesheet">
    <link href="/slick/slick-theme.css" type="text/css" rel="stylesheet">
    <script src="/slick/slick.js"></script>
    
    <link href="/layout/css/m/mslider.css" type="text/css" rel="stylesheet">
    <script src="/layout/js/m/mslider.js"></script>
    
    <script src="/layout/js/m/tapbutton.js"></script>
    
    
    <link href="/layout/css/m/mresult.css" type="text/css" rel="stylesheet">
    
    <!--**********Main Script Start**********-->
    <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        function getXMLHttpRequestObject(){
            var ajax=null;
            if(window.XMLHttpRequest){
                ajax=new XMLHttpRequest();
            } else if (window.ActiveObject){
                ajax=new ActiveObject('MSXML2.XMLHTTP.3.0');
            }
            return ajax;
        }
    
        var ajax=getXMLHttpRequestObject();
            
        var hearts     = document.getElementsByClassName("heart");
        var giftnames  = document.getElementsByClassName("giftname");
        var gifturls   = document.getElementsByClassName("gifturl");
        var giftimgs   = document.getElementsByClassName("giftimg");
        var giftcontents = document.getElementsByClassName("giftcontent");
        var companynames = document.getElementsByClassName("companyname");
        var prices = document.getElementsByClassName("price");
        var twitters = document.getElementsByClassName("twitter");
        var facebooks = document.getElementsByClassName("facebook");
        var lines = document.getElementsByClassName("line");
        
        i=1;
        hiduke=new Date();
        <% @giftRes.each do |exp| %>
        giftnames[i].innerHTML= "<h6><%= exp.name %></h6>";
        giftnames[i].href= "<%= exp.url %>";
        gifturls[i].href = "<%= exp.url %>";
        gifturls[i].style.backgroundImage= 'url(https://mocca-giftfinder.herokuapp.com/gifts/<%= exp.id %>/img)';
        companynames[i].innerHTML= "<%= exp.company_name %>";
        twitters[i].href = "http://twitter.com/intent/tweet?text=<%= exp.name %>&url=<%= exp.url %>&via=MoccaGift";
        facebooks[i].href = "http://www.facebook.com/share.php?u=<%= exp.url %>";
        lines[i].href = "http://line.me/R/msg/text/?<%= exp.name %>%0D%0A<%= exp.url %>";
        
        switch(<%= exp.price %>){
        
          case 1:
            prices[i].innerHTML="<i class='glyphicon glyphicon-yen'></i>";
            break;
          case 2:
            prices[i].innerHTML="<i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i>";
            break;
          case 3:
            prices[i].innerHTML="<i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i>";
            break;
          case 4:
            prices[i].innerHTML="<i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i>";
            break;
          case 5:
            prices[i].innerHTML="<i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i><i class='glyphicon glyphicon-yen'></i>";
            break;
        }
        
        var h1y=hiduke.getFullYear();
        var h1d=hiduke.getDate()+hiduke.getMonth()*30.5;
        var h2y=<%= exp.created_at.year %>;
        var h2d=<%= exp.created_at.yday %>;
        var sa=h1y*365+h1d-h2y*365-h2d;
        if(sa<30){
        element=document.createElement("span");
        element.className="new";
        element.innerHTML="NEW";
        giftcontents[i].appendChild(element);
        } else {}
        i++;
        <% end %>
        
        j=1;
        elm_num=[0,0,0,0,0,0,0,0];
        touchStartX=[0,0,0,0,0,0,0,0];
        touchStartY=[0,0,0,0,0,0,0,0];
        touchMoveX=[0,0,0,0,0,0,0,0];
        touchMoveY=[0,0,0,0,0,0,0,0];
        
        <% @giftRes.each do |exp| %>
          hearts[j].ontouchstart = function(s) {
            return function(event){
              event.preventDefault();
              touchStartX[s] = event.touches[0].pageX;
              touchStartY[s] = event.touches[0].pageY;
            }
          }(j)
          hearts[j].ontouchmove = function(s) {
            return function(event){
              event.preventDefault();
              touchMoveX[s] = event.changedTouches[0].pageX;
              touchMoveY[s] = event.changedTouches[0].pageY;
            }
          }(j)
          hearts[j].ontouchend = function(s) {
            return function(event) {
                if (touchStartY[s] > (touchMoveY[s]+50)) {
                   switch(elm_num[s]) {
                      case -1:
                        hearts[s].src = "/image/emptyheart2.png";
                        elm_num[s]=0;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                      case 0:
                        hearts[s].src = "/image/heart.png";
                        elm_num[s]=1;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                      case 1:
                        hearts[s].src = "/image/heart.png";
                        break;
                      }
                }
                else {
                  if ((touchStartY[s]+50) < touchMoveY[s]) {
                    switch(elm_num[s]) {
                      case -1:
                        hearts[s].src = "/image/dislike.png";
                        break;
                      case 0:
                        hearts[s].src = "/image/dislike.png";
                        elm_num[s]=-1;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countdown?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                      case 1:
                        hearts[s].src = "/image/emptyheart2.png";
                        elm_num[s]=0;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countdown?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                      }
                  } else {
                   switch(elm_num[s]) {
                      case -1:
                        hearts[s].src = "/image/emptyheart2.png";
                        elm_num[s]=0;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                      case 0:
                        hearts[s].src = "/image/heart.png";
                        elm_num[s]=1;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                      case 1:
                        hearts[s].src = "/image/dislike.png";
                        elm_num[s]=-1;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countdown2?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                        }
                  }
                }
            }
          }(j)
          hearts[j].onclick = function(s) {
            return function(event){
              switch(elm_num[s]) {
                      case -1:
                        hearts[s].src = "/image/emptyheart2.png";
                        elm_num[s]=0;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                      case 0:
                        hearts[s].src = "/image/heart.png";
                        elm_num[s]=1;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                      case 1:
                        hearts[s].src = "/image/dislike.png";
                        elm_num[s]=-1;
                        ajax.onreadystatechange=function() {
                          if(ajax.readyState==4) {
                            if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                                
                            }
                            else {
                            }
                          }
                        }
                        ajax.open('GET','/result/countdown2?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                        ajax.send(null);
                        break;
                        }
            }
          }(j)
          j++;
        <% end %>
        
        // 質問がなくなった際に，Continueできなくする
        continuebtn=document.getElementById("continuebtn");
        if (<%= @continue_display %>==1 ) {
          continuebtn.style="display: none;";
        }
        else {
        }
    
        }
    <% end %>
  <!--**********Main Script End**********-->
    
  
  <style>
  
  /*yenマークのCSS*/
  
    .glyphicon-yen {
      background-color: gold;
      color: white;
      padding: 2px;
    }
    .price {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    
    .gift {
      position: relative;
    }
    
    .share {
    position: absolute;
    width: 135px;
    height: 45px;
    bottom: 0px;
    left: 50%;
    margin-left: -67.5px;
  }
  .share-box {
    height: 35px;
    width: 35px;
    margin: 5px;
    float: left;
  }
  .share-button {
    display:block;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-size: 35px 35px;
    text-indent: -9999px;
  }
  .twitter {
    background-image: url('/image/Twitter.png');
  }
  .facebook {
    background-image: url('/image/Facebook.png');
  }
  .line {
    background-image: url('/image/Line.png');
  }
    
  a.giftname:link {
    color: rgb(0,0,255);
  }
  a.giftname:visited {
    color: rgb(0,0,255);
  }
  </style>
        <!--<div id="loader"><img src="/image/gif05.gif" height="200px" width="200px"><BR>Loading...</div>-->
        <!--<div id="fade"></div>-->
        <div class="row">
          <div id="slick_container">
          <div class="slick single-item">
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <div class="giftname_container">
                  <a class="giftname"></a>
                </div>
                <div class="companyname_container">
                  <h6 class="companyname"></h6> 
                </div>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <div class="price"></div>
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
              <div class="share">
                  <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                  <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                  <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
              </div><!-- / #share --> 
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <div class="giftname_container">
                  <a class="giftname"></a>
                </div>
                <div class="companyname_container">
                  <h6 class="companyname"></h6> 
                </div>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <div class="price"></div>
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
              <div class="share">
                  <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                  <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                  <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
              </div><!-- / #share --> 
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <div class="giftname_container">
                  <a class="giftname"></a>
                </div>
                <div class="companyname_container">
                  <h6 class="companyname"></h6> 
                </div>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <div class="price"></div>
                <a class="gifturl" target="_blank"></a>
                
              </div>
              <!-- Gift Content End -->
              <div class="share">
                  <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                  <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                  <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
              </div><!-- / #share --> 
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <div class="giftname_container">
                  <a class="giftname"></a>
                </div>
                <div class="companyname_container">
                  <h6 class="companyname"></h6> 
                </div>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <div class="price"></div>
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
              <div class="share">
                  <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                  <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                  <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
              </div><!-- / #share --> 
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <div class="giftname_container">
                  <a class="giftname"></a>
                </div>
                <div class="companyname_container">
                  <h6 class="companyname"></h6> 
                </div>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <div class="price"></div>
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
              <div class="share">
                  <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                  <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                  <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
              </div><!-- / #share --> 
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <div class="giftname_container">
                  <a class="giftname"></a>
                </div>
                <div class="companyname_container">
                  <h6 class="companyname"></h6> 
                </div>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <div class="price"></div>
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
              <div class="share">
                  <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                  <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                  <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
              </div><!-- / #share --> 
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
          </div>
          <div id="arrows">
            <div class="slick-prev">
              <img src="/image/left.png" height="60px" width="15px" alt="">
            </div>
            <div class="slick-next">
              <img src="/image/right.png"  height="60px" width="15px" alt="">
            </div>
          </div>
        </div>
        <a href="/qflow_continue" data-no-turbolink="1" class="btns btn-lg btn-block" id="continuebtn">質問を続ける</a>
        <a href="/qflow" data-no-turbolink="1" class="btns btn-lg btn-block">他の人のギフトを探す</a>
      </div>