<%= provide(:title, "Result") %>

<!--Slick-->
<link href="/slick/slick.css" type="text/css" rel="stylesheet">
<link href="/slick/slick-theme.css" type="text/css" rel="stylesheet">
<script src="/slick/slick.js"></script>

<link href="/layout/css/slider.css" type="text/css" rel="stylesheet">
<script src="/layout/js/slider.js"></script>

<link href="/layout/css/result.css" type="text/css" rel="stylesheet">
    
<!--**********Main Script Start**********-->
<%= javascript_tag do %>
  window.onload=init;
  
  function init(){
  function getXMLHttpRequestObject(){
    var ajax=null;
    if(window.XMLHttpRequest){
        ajax=new XMLHttpRequest();
    } else if (window.ActiveObject){
        ajax=new ActiveObject('MSXML2.XMLHTTP.3.0');
    }
    return ajax;
  }
  
  var ajax=getXMLHttpRequestObject();
    
  var hearts     = document.getElementsByClassName("heart");
  var giftnames  = document.getElementsByClassName("giftname");
  var gifturls   = document.getElementsByClassName("gifturl");
  var giftimgs   = document.getElementsByClassName("giftimg");
  var giftcontents = document.getElementsByClassName("giftcontent");
  var companynames = document.getElementsByClassName("companyname");
  var twitters = document.getElementsByClassName("twitter");
  var facebooks = document.getElementsByClassName("facebook");
  var googlePluss = document.getElementsByClassName("googlePlus");
  var lines = document.getElementsByClassName("line");
  <!--var prices = document.getElementsByClassName("price");-->
  <!--var pricetags = document.getElementsByClassName("price_tags");-->
  
  i=0;
  hiduke=new Date();
  <% @giftRes.each do |exp| %>
  giftnames[i].innerHTML= "<%= exp.name %>";
  gifturls[i].href = "<%= exp.url %>";
  gifturls[i].innerHTML = "<%= exp.url %>";
  giftimgs[i].style ="background-image: url('/gifts/<%= exp.id %>/img');";
  companynames[i].innerHTML= "<%= exp.company_name %>";
  twitters[i].href = "http://twitter.com/intent/tweet?text=<%= exp.name %> <%= exp.url %>&url=<%= exp.url %>&via=MoccaGift";
  facebooks[i].href = "http://www.facebook.com/share.php?u=<%= exp.url %>";
  googlePluss[i].href = "javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=<%= exp.url %>'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();";
  lines[i].href = "http://line.me/R/msg/text/?<%= exp.name %><%= exp.url %>";
  i++;
  <% end %>
  
  j=0;
  elm_num=[0,0,0,0,0,0,0,0];
  
  
  <% @giftRes.each do |exp| %>
  hearts[j].onclick = function(s) {
    return function(event) {
           switch(elm_num[s]) {
              case -1:
                hearts[s].style = "background-image: url('/image/emptyheart2.png');";
                ajax.onreadystatechange=function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                    }
                    else {
                    }
                  }
                }
                ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]=0;
                break;
              case 0:
                hearts[s].style = "background-image: url('/image/heart.png');";
                ajax.onreadystatechange=function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                    }
                    else {
                    }
                  }
                }
                ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]=1;
                break;
              case 1:
                hearts[s].style = "background-image: url('/image/dislike.png');";
                ajax.onreadystatechange=function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                    }
                    else {
                    }
                  }
                }
                ajax.open('GET','/result/countdown2?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]=-1;
                break;
                }
      }
  }(j)
  j++;
  <% end %>
        
  // 質問がなくなった際に，Continueできなくする
  continuebtn=document.getElementById("continuebtn");
  if (<%= @continue_display %>==1 ) {
    continuebtn.style="display: none;";
  }
  else {
  }

  }
<% end %>
<!--**********Main Script End**********-->

<style>
  .wrap {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 30px;
  }
  .wrap:after {
    content: "";
    display:block;
    clear: both;
  }
  .slideheader {
    position: relative;
    overflow: hidden;
    height: 150px;
  }
  .slideheader:after {
    content: "";
    display: block;
    clear: both;
  }
  .downbtn {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 150px;
  }
  .giftheader {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: block;
    margin-top: 50px;
    position: relative;
  }
  
  .giftheader:before {
    content:"“";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
  }
  .giftheader:after {
    content:"”";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    right: 0;
  }
  
  .giftcontent {
    /*position: absolute;*/
    /*top: 100px;*/
    display:none;
    position: relative;
  }
  .heart {
    position: absolute;
    display:block;
    height: 50px;
    width: 50px;
    background-image: url("/image/emptyheart2.png");
    background-size: contain;
    /*background-color: rgba(245,245,245,0.7);*/
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    left: 50%;
    margin-left: -100px;
  }
  .giftimg {
    height: 150px;
    width: 150px;
    /*background-image: url('/image/Twitter.png');*/
    background-size: cover;
    margin: auto;
    margin-top: 25px;
  }
  .col {
    width: 50%;
    float:left;
    padding-bottom: 20px;
  }
  .price-tag {
    color: white;
    padding: 5px;
  }
  .tag1 {
    background-color: #651366;
  }
  .wrap1 {
    border: solid 3px #651366;
  }
  .tag2 {
    background-color: #C60052;
  }
  .wrap2 {
    border: solid 3px #C60052;
  }
  .tag3 {
    background-color: #FF714B;
  }
  .wrap3 {
    border: solid 3px #FF714B;
  }
</style>
<style>
  .share-box {
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px;
  }
  .share-button {
    display:block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    text-indent: -9999px;
  }
  .twitter {
    background-image: url('/image/Twitter.png');
  }
  .facebook {
    background-image: url('/image/Facebook.png');
  }
  .googlePlus {
    background-image: url('/image/Google+.png');
  }
  .line {
    background-image: url('/image/Line.png');
  }
</style>
<script>
$(document).ready(function(){
  // $('.downbtn').on('click',function(){
  //     $(".giftcontent").slideToggle();
  // });
  num=[0,0,0,0,0,0];
  $('.downbtn').each(function(i,elm){
    $(elm).on('click', function(){
      $(".giftcontent").eq(i).slideToggle();
      if(num[i]%2==0){
        $(this).html("&#9650;");
      } else {
        $(this).html("&#9660;");
      }
      num[i]++;
    });
  });
});
</script>
  
  <div class="row">
    <div class="wrap wrap1">
      <div class="price-tag tag1"><strong>10,000円～</strong></div>
      <div class="slideheader">
        <div class="giftheader"><strong><p class="giftname" style="font-size:18px;"></p></strong><p class="companyname"></p></div>
        <a class="downbtn btn">&#9660;</a>
      </div>
      <div class="giftcontent">
        <a class="heart btn"></a>
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
            <div id="share">
                <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                <div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>
                <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
            </div><!-- / #share -->  
          </div>
      </div>
    </div>
    
    <div class="wrap wrap2">
      <div class="price-tag tag2"><strong>5,000円～10,000円</strong></div>
      <div class="slideheader">
        <div class="giftheader"><strong><p class="giftname" style="font-size:18px;"></p></strong><p class="companyname"></p></div>
        <a class="downbtn btn">&#9660;</a>
      </div>
      <div class="giftcontent">
        <a class="heart btn"></a>
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
            <div id="share">
                <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                <div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>
                <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
            </div><!-- / #share -->  
          </div>
      </div>
    </div>
    
    <div class="wrap wrap3">
      <div class="price-tag tag3"><strong>～5,000円</strong></div>
      <div class="slideheader">
        <div class="giftheader"><strong><p class="giftname" style="font-size:18px;"></p></strong><p class="companyname"></p></div>
        <a class="downbtn btn">&#9660;</a>
      </div>
      <div class="giftcontent">
        <a class="heart btn"></a>
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
            <div id="share">
                <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                <div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>
                <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
            </div><!-- / #share -->  
          </div>
      </div>
    </div>
   <!--******************************************************************************** -->
   <div class="wrap wrap1">
      <div class="price-tag tag1"><strong>10,000円～</strong></div>
      <div class="slideheader">
        <div class="giftheader"><strong><p class="giftname" style="font-size:18px;"></p></strong><p class="companyname"></p></div>
        <a class="downbtn btn">&#9660;</a>
      </div>
      <div class="giftcontent">
        <a class="heart btn"></a>
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
            <div id="share">
                <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                <div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>
                <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
            </div><!-- / #share -->  
          </div>
      </div>
    </div>
    
    <div class="wrap wrap2">
      <div class="price-tag tag2"><strong>5,000円～10,000円</strong></div>
      <div class="slideheader">
        <div class="giftheader"><strong><p class="giftname" style="font-size:18px;"></p></strong><p class="companyname"></p></div>
        <a class="downbtn btn">&#9660;</a>
      </div>
      <div class="giftcontent">
        <a class="heart btn"></a>
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
            <div id="share">
                <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                <div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>
                <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
            </div><!-- / #share -->  
          </div>
      </div>
    </div>
    
    <div class="wrap wrap3">
      <div class="price-tag tag3"><strong>～5,000円</strong></div>
      <div class="slideheader">
        <div class="giftheader"><strong><p class="giftname" style="font-size:18px;"></p></strong><p class="companyname"></p></div>
        <a class="downbtn btn">&#9660;</a>
      </div>
      <div class="giftcontent">
        <a class="heart btn"></a>
          <div class="col">
            <div class="giftimg"></div>  
          </div>
          <div class="col">
            ご購入はこちらから:<BR>
            <a class="gifturl" target="_blank"></a><BR><BR>
            <!--<img class="heart2" src="/image/emptyheart2.png">-->
            <div id="share">
                <div class="share-box"><a class="share-button twitter" href="http://twitter.com/intent/tweet?text=MOCCA使ってみて!&url=https://mocca-giftfinder.herokuapp.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1' ); return false;" target="_blank"><i class="fontawesome-twitter"></i>ツイート</a></div>
                <div class="share-box"><a class="share-button facebook" href="http://www.facebook.com/share.php?u=https://mocca-giftfinder.herokuapp.com" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><i class="fontawesome-facebook"></i>シェア</a></div>
                <div class="share-box"><a class="share-button googlePlus" href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&url=https://mocca-giftfinder.herokuapp.com'+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'_blank');})();"><i class="fontawesome-google-plus"></i>+1</a></div>
                <div class="share-box"><a class="share-button line" href="http://line.me/R/msg/text/?こんにちは">LINE</a></div>
            </div><!-- / #share -->  
          </div>
      </div>
    </div>
   <!--******************************************************************************** -->
    
  </div>
        
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <a href="/qflow_continue" data-no-turbolink="1" class="tabtn continue" id="continuebtn"></a>
    </div>
    <div class="col-xs-4">
      <a href="/qflow" data-no-turbolink="1" class="tabtn findfor"></a>
    </div>
    <div class="col-xs-2">
    </div>
  </div>