
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Mocca</title></title>
<meta name="viewport" content="width=device-width,
 initial-scale=1.0,user-scalable=yes" />
 
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  
    <!--Slick-->
    <link href="/slick/slick.css" type="text/css" rel="stylesheet">
    <link href="/slick/slick-theme.css" type="text/css" rel="stylesheet">
    <script src="/slick/slick.js"></script>
    
    <title>Mocca-Q-</title>
    
    <!--**********Main Script Start**********-->
    <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        function getXMLHttpRequestObject(){
            var ajax=null;
            if(window.XMLHttpRequest){
                ajax=new XMLHttpRequest();
            } else if (window.ActiveObject){
                ajax=new ActiveObject('MSXML2.XMLHTTP.3.0');
            }
            return ajax;
        }
    
        var ajax=getXMLHttpRequestObject();
            
        var hearts     = document.getElementsByClassName("heart");
        var giftnames  = document.getElementsByClassName("giftname");
        var gifturls   = document.getElementsByClassName("gifturl");
        var giftimgs   = document.getElementsByClassName("giftimg");
        var giftcontents = document.getElementsByClassName("giftcontent");
        
        i=1;
        hiduke=new Date();
        <% @giftRes.each do |exp| %>
        giftnames[i].innerText= "<%= exp.name %>";
        gifturls[i].href = "<%= exp.url %>";
        gifturls[i].style ="background-image: url('/gifts/<%= exp.id %>/img');";
        var h1y=hiduke.getFullYear();
        var h1d=hiduke.getDate()+hiduke.getMonth()*30.5;
        var h2y=<%= exp.created_at.year %>;
        var h2d=<%= exp.created_at.yday %>;
        var sa=h1y*365+h1d-h2y*365-h2d;
        if(sa<30){
        element=document.createElement("span");
        element.className="new";
        element.innerHTML="NEW";
        giftcontents[i].appendChild(element);
        } else {}
        i++;
        <% end %>
        
        j=1;
        elm_num=[0,0,0,0,0,0,0,0];
        
        <% @giftRes.each do |exp| %>
          hearts[j].onclick=function(s) {
            return function(){
              hearts[s].src= "/image/heartloader.gif";
              if(elm_num[s]%2==0) {
                ajax.onreadystatechange=function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                        hearts[s].src = "/image/heart.png";
                    }
                    else {
                    }
                  }
                }
                ajax.open('GET','/result/countup?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]++;
              }
              else{
                ajax.onreadystatechange = function() {
                  if(ajax.readyState==4) {
                    if((ajax.status>=200 && ajax.status<300) || (ajax.status==304)) {
                        hearts[s].src= "/image/emptyheart2.png";
                    }
                    else {
                    }
                  }
                }
                ajax.open('GET','/result/countdown?gift=<%= exp.id %>&gift_ans=<%= @ansarray.join(",") %>&gift_q=<%= @qarray.join(",") %>',true);
                ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                ajax.send(null);
                elm_num[s]++;
              }
            }
          }(j)
          j++;
        <% end %>
        
        // 質問がなくなった際に，Continueできなくする
        continuebtn=document.getElementById("continuebtn");
        if (<%= @continue_display %>==1 ) {
          continuebtn.style="display: none;";
        }
        else {
        }
    
        }
    <% end %>
  <!--**********Main Script End**********-->
    
  
  <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
      font-family:  "Meiryo UI", メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
      background-image: url("/image/ribbon.png");
      background-size: cover;
      background-position: center;
      position: relative;
      background-attachment: fixed;
      position: relative;
    }
    .navbar {
      background-color: #FFFFFF;
    }
    
      
    .result {
      width: 90%;
      margin-left: 5%;
      background-color: rgba(255,255,255,0.5);
      padding: 10px;
      position: absolute;
      top: 50%;
      margin-top: -250px;
      
     }
    
    .gift {
      width: 100%;
      margin-top: 1%;
      padding-bottom: 50px;
      outline: none;
      
    }
    
    .giftcontent {
      overflow: hidden;
      height: 250px;
      width: 250px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    
    .new {
        width: 100px;
        padding: 3px 10px;
        background: #d43131;
        color: #fff;
        text-align: center;
        display: inline-block;
        position: absolute;
        top: 15px;
        left: -25px;
        text-transform: uppercase;
        transform: rotate(315deg);
      }
    
    .gifturl {
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 250px;
      width: 250px;
      margin: auto;
    }

    
    .giftheader {
        text-align: center;
        /*color: #FFFFFF;*/
        position: relative;
    }
    
    .giftname h3{
      margin-top: 0;
      font-size: 4em;
    }
    
    .heart {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 5px;
      right: 25%;
    }
    
    .heart:hover {
      transform: scale(2.5);
    }
    .btn {
        border: solid 1px;
        color: #FFFFFF;
        background-color: rgba(0,30,67,1);
      }
    
    
    /*スライド画像の横幅可変*/
    .slick img {
        max-width: 100%;
        height: auto;
        border: 0;
    }
    
    #slick_container {
      position:relative;
      width: 100%;
      margin: auto;
      background-color: rgba(255,255,255,0);
    }

    .slick-prev, .slick-next {
      width:15px;
      height:60px;
    }
    div.slick-prev, div.slick-next {
      z-index: 1;
    }
    button {
      z-index: 2;
    }
    
    .slick-prev {
      position: absolute;
      top: 180px;
      left: 5px;
    }
    
    .slick-next {
      position: absolute;
      top: 180px;
      right: 5px;
    }
    
    .slick-prev:before, .slick-next:before {
      content:"";
    }
    
    .slick-active {
      border: 0;
    }
    
    

  </style>
  <script>
    
  $(document).ready(function(){
     
     $('.single-item').slick({
        appendArrows: $('#arrows')
      });
      
      $('.slick-next').on('click', function () {
        slickNext();
      });
      
      $('.slick-prev').on('click', function () {
        slickPrev();
      });
  });

  </script>
  </head>
    <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/image/largelogo.png" height="30px"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar" style="background-color:#000000;"></span>
          <span class="icon-bar" style="background-color:#000000;"></span>
          <span class="icon-bar" style="background-color:#000000;"></span>
        </button>
      </div>  
      <div id="nav-content" class="collapse navbar-collapse">
    
    <!--リンクのリスト メニューリスト-->
        <ul class="nav navbar-nav">
          <li><a href="/qflow" data-no-turbolink="1">Question<BR>質問で探す</a></li>
          <li><a href="" data-no-turbolink="1">New<BR>新しいアイテム</a></li>
          <li><a href="">Information<BR>お問い合わせ</a></li>
        </ul>
      </div>
    </nav>
    <div class="result">
        <div class="row">
          <div id="slick_container">
          <div class="slick single-item">
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h3 class="giftname"></h3>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h3 class="giftname"></h3>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h3 class="giftname"></h3>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl" target="_blank"></a>
                
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h3 class="giftname"></h3>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h3 class="giftname"></h3>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
            <!-- Gift Start -->
            <div class="gift">
              <!-- Header Start -->
              <div class="giftheader">
                <h3 class="giftname"></h3>
                <img class="heart" src="/image/emptyheart2.png">
              </div>
              <!-- Header End -->
              <!-- Gift Content Start -->
              <div class="giftcontent">
                <a class="gifturl" target="_blank"></a>
              </div>
              <!-- Gift Content End -->
            </div>
            <!-- Gift End -->
            <!------------------------------------------------------------------------>
          </div>
          <div id="arrows">
            <div class="slick-prev">
              <img src="/image/left.png" height="60px" width="15px" alt="">
            </div>
            <div class="slick-next">
              <img src="/image/right.png"  height="60px" width="15px" alt="">
            </div>
          </div>
          </div>
        </div>
        
        <a href="/qflow_continue" data-no-turbolink="1" class="btn btn-lg btn-block" id="continuebtn">Continue</a>
        <a href="/qflow" data-no-turbolink="1" class="btn btn-lg btn-block">Find For<BR>Another Person</a>
      </div>
  </body>
</html>