    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>



<p id="notice"><%= notice %></p>

<a href="/admin">Admin Home</a>

<h1>Listing anstoevals</h1>

<table class="table">
  <thead>
    <tr>
      <th>anstoeval</th>
      <th>Answer</th>
      <th>Gift</th>
      <th>Evaluation</th>
      <th>Count</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @anstoevals.each do |anstoeval| %>
      <tr>
        <td><%= anstoeval.answer.question.body %></td>
        <td><%= anstoeval.answer.ansid %></td>
        <td><%= anstoeval.evaluation.gift.id %></td>
        <td><%= anstoeval.evaluation.evalid %></td>
        <td><%= anstoeval.count %></td>
        <td><%= link_to 'Edit', edit_anstoeval_path(anstoeval) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
