<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Mocca</title>
<meta name="viewport" content="width=device-width,
 initial-scale=1.0,user-scalable=yes" />
 
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  
    <!--Slick-->
    <link href="/slick/slick.css" type="text/css" rel="stylesheet">
    <link href="/slick/slick-theme.css" type="text/css" rel="stylesheet">
    <script src="/slick/slick.js"></script>
    
    <title>Mocca-I-</title>
    
   <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        
        var newstitles = document.getElementsByClassName("newstitle");   
        var newsimgs   = document.getElementsByClassName("newsimg");
        var newscontents = document.getElementsByClassName("newscontent");
        var newsdates   = document.getElementsByClassName("newsdate");
        
        i=0;
        <% @infos.each do |info| %>
        newstitles[i].innerHTML = "<strong><%= info.title %></strong>";
        newsimgs[i].style.backgroundImage="url(https://mocca-giftfinder.herokuapp.com/infos/<%= info.id %>/img)";
        newscontents[i].innerHTML= "<%= info.content %>";
        newsdates[i].innerHTML = "<%= info.created_at.year %>-<%= info.created_at.month %>-<%= info.created_at.day %>";
        i++;
        <% end %>
    }
        
    <% end %>
  <!--**********Main Script End**********-->
    
  
  <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
      font-family:  "Meiryo UI", メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
      background-image: url("/image/ribbon.png");
      background-size: cover;
      background-position: center;
      position: relative;
      background-attachment: fixed;
    }
    
    /*a:link {*/
    /*  text-decoration: none;*/
    /*  color: #000000;*/
    /*}*/
    a:visited {
      text-decoration: none;
      color: #000000;
    }
    a:active {
      text-decoration: none;
      color: #000000;
    }
    .navbar {
      background-color: #FFFFFF;
    }
    
    .information {
        margin-top: 50px;
        width: 100%;
        background-color: rgba(245,245,245,0.7);
    }
    .shintyaku {
        width: 100%;
    }
    .shintyaku .header {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 70px;
    }
    .news {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
    }
    
    .wrapper1 {
        position: relative;
        width: 33%;
        float:left;
    }
    .wrapper1:before{
        padding-top: 100%;
        display: block;
        content: "";
    }
    .content1{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper2 {
        position: relative;
        width: 66%;
        float:left;
    }
    .wrapper2:before{
        padding-top: 50%;
        display: block;
        content: "";
    }
    .content2{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
        padding: 5px;
    }
    .wrapper3 {
        position: relative;
        width: 100%;
        float:left;
    }
    .wrapper3:before{
        padding-top: 75%;
        display: block;
        content: "";
    }
    .content3{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper4 {
        position: relative;
        width: 100%;
        float:left;
    }
    .wrapper4:before{
        padding-top: 100%;
        display: block;
        content: "";
    }
    .content4{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    
    .news:after{
       content:"";
       display:block;
       clear:both;
    }
    .col {
        width: 50%;
        float: left;
    }
    .line {
        width: 90%;
        margin: auto;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
    }
    .line:after{
        content:"";
        display:block;
        clear:both;
    }
    
    .newsimg {
        display:block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    .newscontent {
    }
    .newsdate {
    }
    .sns {
        width: 100%;
    }
    
    .sns:after{
        content:"";
        display:block;
        clear:both;
    }
    .header1 {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    
    .lineimg {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("/image/lineplus.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    .qrimg {
        width: 100%;
        height: 100%;
        background-image: url("/image/line.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    
    .otoiawase {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align:center;
        padding: 10px;
    }
    .aboutus {
        padding: 15px;
    }
    
    

  </style>
  </head>
    <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> MOCCA</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar" style="background-color:#000000;"></span>
          <span class="icon-bar" style="background-color:#000000;"></span>
          <span class="icon-bar" style="background-color:#000000;"></span>
        </button>
      </div>  
      <div id="nav-content" class="collapse navbar-collapse">
    
    <!--リンクのリスト メニューリスト-->
        <ul class="nav navbar-nav">
          <li><a href="/qflow" data-no-turbolink="1">Question<BR>質問で探す</a></li>
          <li><a href="/new_arrival" data-no-turbolink="1">New<BR>新しいアイテム</a></li>
          <li><a href="/info">Information<BR>お問い合わせ</a></li>
        </ul>
      </div>
    </nav>
    <table>
    <div class="information">
    <div class="aboutus">
       <h3 class="header1"><i class="glyphicon glyphicon-flag"></i> About Us</h3> 
       <div class="aucontent">
           <font size="4em"><strong>プレゼントを渡したいけれど，何をあげたらいいか分からない...</strong></font><BR>
           そんな経験ありませんか？<BR>
       </div>
    </div>
    <div class="shintyaku">
        <h3 class="header1"><i class="glyphicon glyphicon-pencil"></i> 新着情報</h3>
        <div class="news">
            <div class="wrapper1">
                <div class="content1">
                    <div class="newsimg"></div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="content2">
                    <div class="newsdate"></div>
                    <h4 class="newstitle"></h4>
                    <div class="newscontent"></div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="wrapper1">
                <div class="content1">
                    <div class="newsimg"></div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="content2">
                    <div class="newsdate"></div>
                    <h4 class="newstitle"></h4>
                    <div class="newscontent"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sns">
        
            
        <div class="news">
            <h3 class="header1"><i class="glyphicon glyphicon-user"></i> SNS</h3>
            <div class="wrapper1">
                <div class="content1">
                    <div class="qrimg"></div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="content2">
                    <h4><strong>MOCCA with LINE</strong></h4>
                    <div>左記QRコードか<BR><a href="http://line.me/ti/p/%40qdb5785p">ここをクリックして</a><BR>友達になって下さい!!</div>
                </div>
            </div>
            <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true" data-size="large" data-text="ギフト探しに役立つよ！" data-hashtags="MOCCA" data-url="http://mocca-giftfinder.herokuapp.com/">Tweet</a>
            <div class="fb-like" data-href="http://mocca-giftfinder.herokuapp.com/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
        </div>
    </div>
    <div class="otoiawase">
        <h3><i class="glyphicon glyphicon-envelope"></i> お問い合わせ</h3>
        <h5>お問い合わせはこちらまでお願いいたします</h5>
        <a href="mailto:moccapu@gmail.com"><font size="4em">moccapu@gmail.com</font></a>
    </div>
    </div>
    </div>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        	var js, fjs = d.getElementsByTagName(s)[0];
        	if (d.getElementById(id)) return;
        	js = d.createElement(s); js.id = id;
        	js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
        	fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer>
        {lang: "ja"}
    </script>
    
    </table>
  </body>
</html>