  <%= provide(:title, "Info") %>
  
  <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        
        var newstitles = document.getElementsByClassName("newstitle");   
        var newsimgs   = document.getElementsByClassName("newsimg");
        var newscontents = document.getElementsByClassName("newscontent");
        var newsdates   = document.getElementsByClassName("newsdate");
        
        i=0;
        <% @infos.each do |info| %>
        newstitles[i].innerHTML = "<strong><%= info.title %></strong>";
        newsimgs[i].style.backgroundImage="url(https://mocca-giftfinder.herokuapp.com/infos/<%= info.id %>/img)";
        newscontents[i].innerHTML= "<%= info.content %>";
        newsdates[i].innerHTML = "<%= info.created_at.year %>-<%= info.created_at.month %>-<%= info.created_at.day %>";
        i++;
        <% end %>
    }
        
    <% end %>
    
    <link rel="stylesheet" href="/layout/css/info.css">

<div class="contents">

    <h3 class="header1" text-align="center" style="padding-top:20px;"><i class="glyphicon glyphicon-heart"></i>&nbsp;<i class="glyphicon glyphicon-heart"></i>&nbsp;<i class="glyphicon glyphicon-heart"></i>&nbsp;<i class="glyphicon glyphicon-heart"></i>&nbsp;<i class="glyphicon glyphicon-heart"></i>&nbsp;<i class="glyphicon glyphicon-heart"></i>&nbsp;<i class="glyphicon glyphicon-heart"></i></h3> 
    <div class="aboutus">
            MOCCAは<strong>「素敵なプレゼントが選びたい」</strong>を叶えます。<BR><BR>
            プレゼントを<strong>より身近にするため</strong>に、<BR>
            MOCCAでは<strong>SNSやBOT</strong>も使っています。<BR>
            BOTでは会話をしているかのようにプレゼントを決めることができます。<BR>
            ぜひ使ってみてください。
    </div>
    
    <div class="snss">
        <div class="sns">
    <div class="wrapper6">
        <div class="content6">
            <div class="snsimg snsicon"></div>
        </div>
    </div>
    <div class="wrapper5">
        <div class="content5">
            <a class="snsimg twitter" href="https://twitter.com/MoccaGift" target="_blank"></a>
        </div>
    </div>
    <div class="wrapper5">
        <div class="content5">
            <a class="snsimg"></a>
        </div>
    </div>
    </div>
    <div class="sns">
        <div class="wrapper6">
        <div class="content6">
            <div class="snsimg boticon"></div>
        </div>
    </div>
    <div class="wrapper5">
        <div class="content5">
            <a class="snsimg facebook" href="https://www.facebook.com/Moccagift-1623932044594234/" target="_blank"></a>
        </div>
    </div>
    <div class="wrapper5">
        <div class="content5">
            <a class="snsimg line" href="http://line.me/ti/p/%40qdb5785p" target="_blank"></a>
        </div>
    </div>
    </div>
    </div>
    
    <div class="footer">
        <h1 class="contact_us">CONTACT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MOCCA!!</h1>
        <a class="snsimg mail" href="mailto:moccapu@gmail.com" title="Email me"></a>
    </div>
    
    
            
    <!--    <div class="news">-->
    <!--        <h3 class="header1"><i class="glyphicon glyphicon-user"></i> SNS</h3>-->
    <!--        <div class="wrapper1">-->
    <!--            <div class="content1">-->
    <!--                <div class="qrimg"></div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="wrapper2">-->
    <!--            <div class="content2">-->
    <!--                <h4><strong>MOCCA with LINE完成しました!!</strong></h4>-->
    <!--                <div>上記QRコードで友達になってください!!</div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true" data-size="large" data-text="ギフト探しに役立つよ！" data-hashtags="MOCCA" data-url="http://mocca-giftfinder.herokuapp.com/">Tweet</a>-->
    <!--        <div class="fb-like" data-href="http://mocca-giftfinder.herokuapp.com/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>-->
    <!--    </div>-->
    <!--    <div class="news">-->
    <!--        <div class="wrapper3">-->
    <!--            <div class="content3">-->
    <!--              <div class="coolpic"></div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<div class="otoiawase">-->
    <!--    <h3><i class="glyphicon glyphicon-envelope"></i> お問い合わせ</h3>-->
    <!--    <h4>お問い合わせはこちら</h4>-->
    <!--    <BR>-->
    <!--    <a href="mailto:moccapu@gmail.com">moccapu@gmail.com</a>-->
    <!--</div>-->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        	var js, fjs = d.getElementsByTagName(s)[0];
        	if (d.getElementById(id)) return;
        	js = d.createElement(s); js.id = id;
        	js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
        	fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer>
        {lang: "ja"}
    </script>
</div>