<!DOCTYPE html>
<html>
<!-- MEMO: update me with `git checkout gh-pages && git merge master && git push origin gh-pages` -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Mocca-I-</title>

  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  
  <!--Pointer-->
  <!--<script src="/pointer/pointer.2.js"></script>-->
  
  <!--Animation-->
  <link rel="stylesheet" href="/animation/animate.css">

  <!-- Bootstrap -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  
  <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        
        var newstitles = document.getElementsByClassName("newstitle");   
        var newsimgs   = document.getElementsByClassName("newsimg");
        var newscontents = document.getElementsByClassName("newscontent");
        var newsdates   = document.getElementsByClassName("newsdate");
        
        i=0;
        <% @infos.each do |info| %>
        newstitles[i].innerHTML = "<strong><%= info.title %></strong>";
        newsimgs[i].style.backgroundImage="url(https://mocca-giftfinder.herokuapp.com/infos/<%= info.id %>/img)";
        newscontents[i].innerHTML= "<%= info.content %>";
        newsdates[i].innerHTML = "<%= info.created_at.year %>-<%= info.created_at.month %>-<%= info.created_at.day %>";
        i++;
        <% end %>
    }
        
    <% end %>

  <style>
   html {
      height: 100%;
    }
    body {
      height:100%;
      background-color: rgb(0,30,67);
      font-family:  "Meiryo UI", メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
      position: relative;
    }
    .wrapper {
      width: 1024px;
      margin:auto;
      background-image: url("/image/ribbon.png");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      height:100%;/*背景高さ*/
    }
    .wrapper:after{
       content:"";
       display:block;
       clear:both;
    }
    
    
     /* Homepanels */
      li {
        list-style: none;
      }
      
      ul  {
        padding-bottom: 150px;
      }
      
      .headerPanels li {
        float: left;
      }
      
      .li-home {
        margin-top: 1%;
        height: 100px;
        width: 300px;
        float: left;
      }
      
      .li-home a {
        background-image: url("/image/smalllogo.png");
        background-size: cover;
        display: block;
        height: 85px;
        width: 270px;
        margin: auto;
        text-indent: -9999px;
      }
      
      .li-home a:hover {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -ms-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out;
      }
      
      .li-btn {
        margin-top: 1%;
        height: 85px;
        width: 85px;
        float: left;
      }
    
      .li-btn a {
        background-size: 85px 85px;
        display: block;
        height: 85px;
        width: 85px;
        margin: auto;
        text-indent: -9999px;
      }
      
      .menu-q a {
        background-image: url("/image/q.png");
      }
      .menu-n a {
        background-image: url("/image/n.png");
      }
      .menu-i a {
        background-image: url("/image/i.png");
        border-bottom: double 10px #000000;
      }
      
      .none {
        height: 128px;
        width: 128px;
        float: left;
      }
      
      a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      .q_description {
        position: relative;
        margin-top: 10px;
        margin-left: -55px;
        height: auto;
        width: 200px;
        padding: 5px;
        border: solid 3px;
        
      }
      
      .q_description:before {
      	content: "";
      	position: absolute;
      	top: -8px; left: 50%;
      	margin-left: -9px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 0 9px 9px 9px;
      	border-color: transparent transparent #F6F6F6 transparent;
      	z-index: 1;
      }
      .q_description:after {
      	content: "";
      	position: absolute;
      	top: -12px; left: 50%;
      	margin-left: -10px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 0 10px 10px 10px;
      	border-color: transparent transparent #19283C transparent;
      	z-index: 0;
      }
      
      .n_description {
        margin-top: 10px;
        margin-left: -55px;
        height: auto;
        width: 200px;
        padding: 5px;
        border: solid 3px;
        position:relative;
        
      }
      
      .n_description:before {
      	content: "";
      	position: absolute;
      	top: -8px; left: 50%;
      	margin-left: -9px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 0 9px 9px 9px;
      	border-color: transparent transparent #F6F6F6 transparent;
      	z-index: 1;
      }
      .n_description:after {
      	content: "";
      	position: absolute;
      	top: -12px; left: 50%;
      	margin-left: -10px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 0 10px 10px 10px;
      	border-color: transparent transparent #19283C transparent;
      	z-index: 0;
      }
     
    .information {
        /*width: 100%;*/
        /*padding: 20px;*/
        /*background-color: rgba(245,245,245,0.7);*/
        overflow: scroll;   /* スクロール表示 */
        width: 80%;
        height: 400px;
        margin: auto;
        background-color: rgba(255,255,255,0.7);
        position: relative;
    } 
      
    .shintyaku {
        width: 100%;
    }
    
    .shintyaku:after{
       content:"";
       display:block;
       clear:both;
    }
    
    .shintyaku .header {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 70px;
    }
    
    .newstitle {
    }
    .wrapper1 {
        position: relative;
        width: 33%;
        float:left;
    }
    .wrapper1:before{
        padding-top: 100%;
        display: block;
        content: "";
    }
    .content1{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper2 {
        position: relative;
        width: 66%;
        float:left;
    }
    .wrapper2:before{
        padding-top: 35%;
        display: block;
        content: "";
    }
    .content2{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    /*.wrapper3 {*/
    /*    position: relative;*/
    /*    width: 66%;*/
    /*    float:left;*/
    /*}*/
    /*.wrapper3:before{*/
    /*    padding-top: 15%;*/
    /*    display: block;*/
    /*    content: "";*/
    /*}*/
    /*.content3{*/
    /*    position: absolute;*/
    /*    top: 0px;*/
    /*    left: 0px;*/
    /*    bottom: 0px;*/
    /*    right: 0px;*/
    /*    overflow: hidden;*/
    /*}*/
    .wrapper4 {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right:auto;
        }
    .wrapper4:before{
        padding-top: 100%;
        display: block;
        content: "";
    }
    .content4{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    
    .news {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        /*background-color: rgba(255,255,255,0.5);*/
        float: left;
    }
    
    .news:after{
       content:"";
       display:block;
       clear:both;
    }
    .col {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .line {
        width: 90%;
        margin: auto;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
        box-shadow: 5px 5px 10px #000000;
    }
    .line:after{
        content:"";
        display:block;
        clear:both;
    }
    
    .newsimg {
        display:block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
        border-radius: 50px;
    }
    .sns {
        width: 100%;
    }
    
    .sns:after{
        content:"";
        display:block;
        clear:both;
    }
    .header1 {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    
    .lineimg {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("/image/lineplus.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    .qrimg {
        width: 100%;
        height: 100%;
        background-image: url("/image/line.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    
    .shintyaku .header {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 70px;
    }
    
    .wrapper1 {
        position: relative;
        width: 100%;
    }
    .wrapper1:before{
        padding-top: 50%;
        display: block;
        content: "";
    }
    .content1{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper2 {
        position: relative;
        width: 100%;
    }
    .wrapper2:before{
        padding-top: 25%;
        display: block;
        content: "";
    }
    .content2{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper3 {
        position: relative;
        width: 100%;
    }
    .wrapper3:before{
        padding-top: 75%;
        display: block;
        content: "";
    }
    .content3{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper4 {
        position: relative;
        width: 100%;
        margin: auto;
    }
    .wrapper4:before{
        padding-top: 100%;
        display: block;
        content: "";
    }
    .content4{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    
    .news:after{
       content:"";
       display:block;
       clear:both;
    }
    .col {
        width: 50%;
        margin: auto;
    }
    .line {
        width: 90%;
        margin: auto;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
    }
    .line:after{
        content:"";
        display:block;
        clear:both;
    }
    
    .newsimg {
        display:block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    .newscontent{
        width: 100%;
    }
    }
    .newsdate {
        display:block;
        /*text-align:right;*/
    }
    .sns {
        width: 100%;
    }
    
    .sns:after{
        content:"";
        display:block;
        clear:both;
    }
    
    .header1 {
        width: 90%;
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .lineimg {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("/image/lineplus.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    .qrimg {
        width: 100%;
        height: 100%;
        background-image: url("/image/line.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
        border-radius: 50px;
    }
    .coolpic {
        width: 100%;
        height: 100%;
        background-image: url("/image/cool.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
        border-radius: 50px;
    }
    
    .otoiawase {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align:center;
        padding: 10px;
        font-size: 2em;
        padding-bottom: 100px;
    }
    
    .aboutus {
        padding: 30px;
    }
    
  </style>
  <script>
    
  $(document).ready(function(){
     $('.menu-q > a').hover(
         function(){
             $( '.q_description' ).fadeIn();
         },
         function(){
             $( '.q_description' ).fadeOut();
         }
     );
     
     $('.menu-n > a').hover(
         function(){
             $( '.n_description' ).fadeIn();
         },
         function(){
             $( '.n_description' ).fadeOut();
         }
     );
              
  });

  </script>
</head>

  <body>
    <div class="wrapper">
      <ul class="headerPanels">
        <li class="li-home">
          <a href="/">Home</a>
        </li>
        <li class="none"></li>
        <li class="li-btn menu-q">
          <a href="/qflow" data-no-turbolink="1">Questions</a>
          <div class="q_description" style="display: none;">
            Questions<BR>5つの質問でギフトを提案します
          </div>
        </li>
        <li class="li-btn menu-n">
          <a href="/new_arrival" data-no-turbolink="1">New gifts</a>
          <div class="n_description" style="display: none;">
            New Items<BR>新しいアイテムを表示します
          </div>
        </li>
        <li class="li-btn menu-i">
          <a>Information</a>
        </li>
      </ul>
    <div class="information">
    <div class="aboutus">
       <h3 class="header1"><i class="glyphicon glyphicon-flag"></i> About Us</h3> 
       <div class="aucontent">
           <font size="4em">
            <p>私たちは</p>
            <p><strong>「世界を幸せでいっぱいにしたい」</strong></p>
            <p>と、本気で考えています。</p>
            <p>誰かが他の誰かのためにプレゼントを贈ろうとすること。</p>   
            <p>その小さなきっかけを行動にうつしてほしい。</p>
            <p>その行動が新しい「幸せ」をつくるのだと信じています。</p>
            <p>だから、私たちは"MOCCA"を作りました。</p>
            <p>あなたの「誰かを喜ばせたい」という純粋な気持ちを大切にしてほしい。</p>
            <p>それが私たちの願いです。</p>
       </div>
    </div>
    <div class="shintyaku">
        <h3 class="header1"><i class="glyphicon glyphicon-pencil"></i> 新着情報</h3>
        <div class="news">
            <div class="wrapper1">
                <div class="content1">
                    <div class="newsimg"></div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="content2">
                    <div class="newsdate"></div>
                    <h4 class="newstitle"></h4>
                    <div class="newscontent"></div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="wrapper1">
                <div class="content1">
                    <div class="newsimg"></div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="content2">
                    <div class="newsdate"></div>
                    <h4 class="newstitle"></h4>
                    <div class="newscontent"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sns">
        
            
        <div class="news">
            <h3 class="header1"><i class="glyphicon glyphicon-user"></i> SNS</h3>
            <div class="wrapper1">
                <div class="content1">
                    <div class="qrimg"></div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="content2">
                    <h4><strong>MOCCA with LINE完成しました!!</strong></h4>
                    <div>上記QRコードで友達になって下さい!!</div>
                </div>
            </div>
            <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true" data-size="large" data-text="ギフト探しに役立つよ！" data-hashtags="MOCCA" data-url="http://mocca-giftfinder.herokuapp.com/">Tweet</a>
            <div class="fb-like" data-href="http://mocca-giftfinder.herokuapp.com/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
        </div>
        <div class="news">
            <div class="wrapper3">
                <div class="content3">
                  <div class="coolpic"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="otoiawase">
        <h3><i class="glyphicon glyphicon-envelope"></i> お問い合わせ</h3>
        <h4>お問い合わせはこちらまでお願いいたします</h4>
        <BR>
        <a href="mailto:moccapu@gmail.com">moccapu@gmail.com</a>
    </div>
    </div>
    </div>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        	var js, fjs = d.getElementsByTagName(s)[0];
        	if (d.getElementById(id)) return;
        	js = d.createElement(s); js.id = id;
        	js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
        	fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer>
        {lang: "ja"}
    </script>
    
  </body>
  </html>