<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Mocca</title>
<meta name="viewport" content="width=device-width,
 initial-scale=1.0,user-scalable=yes" />
 
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  
    <!--Slick-->
    <link href="/slick/slick.css" type="text/css" rel="stylesheet">
    <link href="/slick/slick-theme.css" type="text/css" rel="stylesheet">
    <script src="/slick/slick.js"></script>
    
    <title>Mocca-I-</title>
    
   <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        
        var newstitles = document.getElementsByClassName("newstitle");   
        var newsimgs   = document.getElementsByClassName("newsimg");
        var newscontents = document.getElementsByClassName("newscontent");
        var newsdates   = document.getElementsByClassName("newsdate");
        
        i=0;
        <% @infos.each do |info| %>
        newstitles[i].innerHTML = "<%= info.title %>";
        newsimgs[i].style.backgroundImage="url(https://guarded-reaches-70446.herokuapp.com/infos/<%= info.id %>/img)";
        newscontents[i].innerHTML= "<%= info.content %>";
        newsdates[i].innerHTML = "<%= info.created_at.year %>-<%= info.created_at.month %>-<%= info.created_at.day %> <%= info.created_at.hour %>:<%= info.created_at.min %>";
        i++;
        <% end %>
    }
        
    <% end %>
  <!--**********Main Script End**********-->
    
  
  <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
      font-family:  "Meiryo UI", メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
      background-image: url("/image/ribbon.png");
      background-size: cover;
      background-position: center;
      position: relative;
      background-attachment: fixed;
    }
    
    /*a:link {*/
    /*  text-decoration: none;*/
    /*  color: #000000;*/
    /*}*/
    a:visited {
      text-decoration: none;
      color: #000000;
    }
    a:active {
      text-decoration: none;
      color: #000000;
    }
    .navbar {
      background-color: #FFFFFF;
    }
    
    .shintyaku {
        width: 100%;
    }
    .shintyaku .header {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 70px;
        border: double 10px;
        border-radius: 10px;
    }
    .news {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        background-color: rgba(255,255,255,0.5);
    }
    
    .newstitle {
        text-align: center;
        padding-bottom: 5px;
        border-bottom: solid 2px;
    }
    .wrapper1 {
        position: relative;
        width: 33%;
        float:left;
    }
    .wrapper1:before{
        padding-top: 100%;
        display: block;
        content: "";
    }
    .content1{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper2 {
        position: relative;
        width: 66%;
        float:left;
    }
    .wrapper2:before{
        padding-top: 35%;
        display: block;
        content: "";
    }
    .content2{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper3 {
        position: relative;
        width: 66%;
        float:left;
    }
    .wrapper3:before{
        padding-top: 15%;
        display: block;
        content: "";
    }
    .content3{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    .wrapper4 {
        position: relative;
        width: 100%;
        float:left;
    }
    .wrapper4:before{
        padding-top: 100%;
        display: block;
        content: "";
    }
    .content4{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    
    .news:after{
       content:"";
       display:block;
       clear:both;
    }
    .col {
        width: 50%;
        float: left;
    }
    .line {
        width: 90%;
        margin: auto;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
    }
    .line:after{
        content:"";
        display:block;
        clear:both;
    }
    
    .newsimg {
        display:block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    .newscontent {
        display:block;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .newsdate {
        display:block;
        width: 100%;
        height: 100%;
        padding: 10px;
        text-align:right;
    }
    .sns {
        width: 100%;
    }
    
    .sns:after{
        content:"";
        display:block;
        clear:both;
    }
    .header1 {
        width: 90%;
        margin: auto;
        text-align: center;
        border: double 10px;
        border-radius: 10px;
    }
    
    .lineimg {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("/image/lineplus.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    .qrimg {
        width: 100%;
        height: 100%;
        background-image: url("/image/line.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin: auto;
    }
    
    .otoiawase {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align:center;
        padding: 10px;
    }
    
    
    

  </style>
  </head>
    <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> MOCCA</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar" style="background-color:#000000;"></span>
          <span class="icon-bar" style="background-color:#000000;"></span>
          <span class="icon-bar" style="background-color:#000000;"></span>
        </button>
      </div>  
      <div id="nav-content" class="collapse navbar-collapse">
    
    <!--リンクのリスト メニューリスト-->
        <ul class="nav navbar-nav">
          <li><a href="/qflow" data-no-turbolink="1">Question<BR>質問で探す</a></li>
          <li><a href="/new_arrival" data-no-turbolink="1">New<BR>新しいアイテム</a></li>
          <li><a href="/info">Information<BR>お問い合わせ</a></li>
        </ul>
      </div>
    </nav>
    <div class="shintyaku">
        <h3 class="header">新着情報</h3>
        <div class="news">
            <h4 class="newstitle"></h4>
            <div class="wrapper1">
                <div class="content1">
                    <div class="newsimg"></div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="content2">
                    <div class="newscontent"></div>
                </div>
            </div>
            <div class="wrapper3">
                <div class="content3">
                    <div class="newsdate"></div>
                </div>
            </div>
        </div>
        <div class="news">
            <h4 class="newstitle"></h4>
            <div class="wrapper1">
                <div class="content1">
                    <div class="newsimg"></div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="content2">
                    <div class="newscontent"></div>
                </div>
            </div>
            <div class="wrapper3">
                <div class="content3">
                    <div class="newsdate"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sns">
        <h3 class="header1">SNS連携</h3>
        <div class="line">
            <h4 class="newstitle">MOCCA with LINE</h4>
            <div class="col">
                <p>タップして友達に追加</p>
                <div class="wrapper4">
                  <div class="content4">
                    <a class="lineimg" href="http://line.me/ti/p/%40qdb5785p"></a>  
                  </div>
                </div>
            </div>
            <div class="col">
                <p>QRコードで友達に追加</p>
                <div class="wrapper4">
                  <div class="content4">
                    <div class="qrimg"></div>  
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="otoiawase">
        <h3 class="header1">お問い合わせ</h3>
        <h4>お問い合わせはこちらまでお願いいたします</h4>
        <BR>
        <a href="mailto:mocca@example.com">(仮)mocca@example.com</a>
    </div>
  </body>
</html>