  <%= provide(:title, "New") %>
  
  <!--Animation-->
  <link rel="stylesheet" href="/animation/animate.css">

  
  <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        function getXMLHttpRequestObject(){
            var ajax=null;
            if(window.XMLHttpRequest){
                ajax=new XMLHttpRequest();
            } else if (window.ActiveObject){
                ajax=new ActiveObject('MSXML2.XMLHTTP.3.0');
            }
            return ajax;
        }
    
        var ajax=getXMLHttpRequestObject();
            
        var gifturls   = document.getElementsByClassName("gifturl");
        var giftnames   = document.getElementsByClassName("giftname");
        var urls   = document.getElementsByClassName("url");
        
        i=0;
        hiduke=new Date();
        <% @gifts.each do |gift| %>
        gifturls[i].style ="background-image: url('/gifts/<%= gift.id %>/img');";
        giftnames[i].innerHTML = "<%= gift.name %>";
        urls[i].innerHTML = "<%= gift.url %>";
        urls[i].href = "<%= gift.url %>";
        i++;
        <% end %>
    }
        
    <% end %>
  <!--**********Main Script End**********-->

  <link href="/layout/css/new.css" type="text/css" rel="stylesheet">
  
  
  <script>
    
  $(document).ready(function(){
     
     $('.gifturl').each(
         function(){
           $(this).hover(
             function(){
               $(this).children('.g_description').fadeIn();
             },
             function(){
               $(this).children('.g_description').fadeOut();
             }
           );
         }
     );
     
     $('.heart').each(
         function(){
           $(this).on('click',
             function(){
               $(this).attr('src','/image/heart.png');
             }
           );
         }
     );
              
  });

  </script>
  
      <div class="wrapper_home">
        <div class="content_home">
          <div class="title"></div>
        </div>
      </div>
      
      <div class="giftwrapper">
        <div class="content">
          <div class="gifturl">
            <div class="g_description" style="display: none;">
              <h2 class="giftname"></h2>
              <a class="url" target="_blank"></a>
              <img class="heart" src="/image/emptyheart2.png">
            </div>
          </div>
        </div>
      </div> 
      <div class="giftwrapper">
        <div class="content">
          <div class="gifturl">
            <div class="g_description" style="display: none;">
              <h2 class="giftname"></h2>
              <a class="url" target="_blank"></a>
              <img class="heart" src="/image/emptyheart2.png">
            </div>
          </div>
        </div>
      </div> 
      <div class="giftwrapper">
        <div class="content">
          <div class="gifturl">
            <div class="g_description" style="display: none;">
              <h2 class="giftname"></h2>
              <a class="url" target="_blank"></a>
              <img class="heart" src="/image/emptyheart2.png">
            </div>
          </div>
        </div>
      </div> 
      <div class="giftwrapper">
        <div class="content">
          <div class="gifturl">
            <div class="g_description" style="display: none;">
              <h2 class="giftname"></h2>
              <a class="url" target="_blank"></a>
              <img class="heart" src="/image/emptyheart2.png">
            </div>
          </div>
        </div>
      </div> 
      <div class="giftwrapper">
        <div class="content">
          <div class="gifturl">
            <div class="g_description" style="display: none;">
              <h2 class="giftname"></h2>
              <a class="url" target="_blank"></a>
              <img class="heart" src="/image/emptyheart2.png">
            </div>
          </div>
        </div>
      </div> 
      <div class="giftwrapper">
        <div class="content">
          <div class="gifturl">
            <div class="g_description" style="display: none;">
              <h2 class="giftname"></h2>
              <a class="url" target="_blank"></a>
              <img class="heart" src="/image/emptyheart2.png">
            </div>
          </div>
        </div>
      </div> 