<!DOCTYPE html>
<html lang="ja">
<!-- MEMO: update me with `git checkout gh-pages && git merge master && git push origin gh-pages` -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Mocca-N-</title>

  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  
  <!--Pointer-->
  <!--<script src="/pointer/pointer.2.js"></script>-->
  
  <!--Animation-->
  <link rel="stylesheet" href="/animation/animate.css">

  <!-- Bootstrap -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  
  <%= javascript_tag do %>
        window.onload=init;
        
        function init(){
        function getXMLHttpRequestObject(){
            var ajax=null;
            if(window.XMLHttpRequest){
                ajax=new XMLHttpRequest();
            } else if (window.ActiveObject){
                ajax=new ActiveObject('MSXML2.XMLHTTP.3.0');
            }
            return ajax;
        }
    
        var ajax=getXMLHttpRequestObject();
            
        var gifturls   = document.getElementsByClassName("gifturl");
        var giftnames   = document.getElementsByClassName("giftname");
        var urls   = document.getElementsByClassName("url");
        var ligifts = document.getElementsByClassName("li-gift");
        
        i=0;
        hiduke=new Date();
        <% @gifts.each do |gift| %>
        gifturls[i].style ="background-image: url('/gifts/<%= gift.id %>/img');";
        giftnames[i].innerHTML = "<%= gift.name %>";
        urls[i].innerHTML = "<%= gift.url %>";
        urls[i].href = "<%= gift.url %>";
        var h1y=hiduke.getFullYear();
        var h1d=hiduke.getDate()+hiduke.getMonth()*30.5;
        var h2y=<%= gift.created_at.year %>;
        var h2d=<%= gift.created_at.yday %>;
        var sa=h1y*365+h1d-h2y*365-h2d;
        if(sa<30){
        element=document.createElement("span");
        element.className="new";
        element.innerHTML="NEW";
        ligifts[i].appendChild(element);
        } else {}
        i++;
        <% end %>
    }
        
    <% end %>
  <!--**********Main Script End**********-->


  <style>
    html {
      height: 100%;
    }
    body {
      height:100%;
      background-color: rgb(0,30,67);
      font-family:  "Meiryo UI", メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
      position: relative;
    }
    
    .wrapper {
      width: 1024px;
      height: 110%;
      margin:auto;
      /*background-image: url("/image/ribbon.png");*/
      background-color: #FFFFFF;
      background-size: cover;
      background-position: center;
      position: relative;
      background-attachment: fixed;
    }
    
    /*.headerPanels {*/
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    margin-top: -340px;*/
    /*    padding-bottom: 100px;*/
    /*    width: 1024px;*/
    /*  }*/
     
     .new_arrival {
        position: absolute;
        top: 50%;
        margin-top: -150px;
        padding-bottom: 100px;
        width: 1024px;
      }
     /* Homepanels */
      li {
        list-style: none;
      }
      
      ul  {
        padding-bottom: 100px;
      }
      
      .headerPanels li {
        float: left;
      }
      
      .li-home {
        margin-top: 1%;
        height: 100px;
        width: 300px;
        float: left;
      }
      
      .li-home a {
        background-image: url("/image/smalllogo.png");
        background-size: cover;
        display: block;
        height: 85px;
        width: 270px;
        margin: auto;
        text-indent: -9999px;
      }
      
      .li-home a:hover {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -ms-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out;
      }
      
      .li-btn {
        margin-top: 1%;
        height: 85px;
        width: 85px;
        float: left;
      }
    
      .li-btn a {
        background-size: 85px 85px;
        display: block;
        height: 85px;
        width: 85px;
        margin: auto;
        text-indent: -9999px;
      }
      
      .menu-q a {
        background-image: url("/image/q.png");
      }
      .menu-n a {
        background-image: url("/image/n.png");
        border-bottom: double 10px #000000;
      }
      .menu-i a {
        background-image: url("/image/i.png");
      }
      
      .none {
        height: 85px;
        width: 85px;
        float: left;
      }
      
      a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      .q_description {
        position: relative;
        margin-top: 10px;
        margin-left: -55px;
        height: auto;
        width: 200px;
        padding: 5px;
        border: solid 3px;
        
      }
      
      .q_description:before {
      	content: "";
      	position: absolute;
      	top: -8px; left: 50%;
      	margin-left: -9px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 0 9px 9px 9px;
      	border-color: transparent transparent #F6F6F6 transparent;
      	z-index: 1;
      }
      .q_description:after {
      	content: "";
      	position: absolute;
      	top: -12px; left: 50%;
      	margin-left: -10px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 0 10px 10px 10px;
      	border-color: transparent transparent #19283C transparent;
      	z-index: 0;
      }
      
      .i_description {
        margin-top: 10px;
        margin-left: -55px;
        height: auto;
        width: 200px;
        padding: 5px;
        border: solid 3px;
        position:relative;
        
      }
      
      .i_description:before {
      	content: "";
      	position: absolute;
      	top: -8px; left: 50%;
      	margin-left: -9px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 0 9px 9px 9px;
      	border-color: transparent transparent #F6F6F6 transparent;
      	z-index: 1;
      }
      .i_description:after {
      	content: "";
      	position: absolute;
      	top: -12px; left: 50%;
      	margin-left: -10px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 0 10px 10px 10px;
      	border-color: transparent transparent #19283C transparent;
      	z-index: 0;
      }
      
      
      .gifturl {
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 250px;
      width: 100%;
      background-color: #FFFFFF;
      margin: auto;
     }
     
     .li-gift {
         width: 25%;
         height: 250px;
         float: left;
         position: relative;
         overflow: hidden;
     }
     
     .li-title {
         width: 50%;
         height: 250px;
         float: left;
     }
     
     .title {
        display: block;
        background-image: url("/image/na.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 100%;
        background-color: #FFFFFF;
        margin: auto;
     }
    
    
    .g_description {
        height: auto;
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        position: absolute;
        bottom: 0;
        
      }
      
      .new {
        width: 100px;
        padding: 3px 10px;
        background: #d43131;
        color: #fff;
        text-align: center;
        display: inline-block;
        position: absolute;
        top: 15px;
        left: -25px;
        text-transform: uppercase;
        transform: rotate(315deg);
      }
      
      .heart {
        height: 30px;
        position: absolute;
        right: 5px;
        top: 10px;
        bottom: 0;
      }
  </style>
  <script>
    
  $(document).ready(function(){
     $('.menu-q > a').hover(
         function(){
             $( '.q_description' ).fadeIn();
         },
         function(){
             $( '.q_description' ).fadeOut();
         }
     );
     
     $('.menu-i > a').hover(
         function(){
             $( '.i_description' ).fadeIn();
         },
         function(){
             $( '.i_description' ).fadeOut();
         }
     );
     
     $('.gifturl').each(
         function(){
           $(this).hover(
             function(){
               $(this).children('.g_description').fadeIn();
             },
             function(){
               $(this).children('.g_description').fadeOut();
             }
           );
         }
     );
     
     $('.heart').each(
         function(){
           $(this).on('click',
             function(){
               $(this).attr('src','/image/heart.png');
             }
           );
         }
     );
              
  });

  </script>
</head>

  <body>
    <div class="wrapper">
      <ul class="headerPanels">
        <li class="li-home">
          <a href="/">Home</a>
        </li>
        <li class="none"></li>
        <li class="li-btn menu-q">
          <a href="/qflow" data-no-turbolink="1">Questions</a>
          <div class="q_description" style="display: none;">
            Questions<BR>5つの質問でギフトを提案します
          </div>
        </li>
        <li class="li-btn menu-n">
          <a href="#">New gifts</a>
        </li>
        <li class="li-btn menu-i">
          <a href="/info" data-no-turbolink="1" >Information</a>
          <div class="i_description" style="display: none;">
            Information<BR>お問い合わせはこちらから
          </div>
        </li>
      </ul>
    <ul class="new_arrival">
      <li class="li-title">
        <div class="title"></div>
      </li>
      <li class="li-gift">
        <div class="gifturl">
          <div class="g_description" style="display: none;">
            <h2 class="giftname"></h2>
            <a class="url" target="_blank"></a>
            <img class="heart" src="/image/emptyheart2.png">
         </div>
        </div> 
      </li>
      <li class="li-gift">
        <div class="gifturl">
          <div class="g_description" style="display: none;">
            <h2 class="giftname"></h2>
            <a class="url" target="_blank"></a>
            <img class="heart" src="/image/emptyheart2.png">
         </div>
        </div>  
      </li>
      <li class="li-gift">
        <div class="gifturl">
          <div class="g_description" style="display: none;">
            <h2 class="giftname"></h2>
            <a class="url" target="_blank"></a>
            <img class="heart" src="/image/emptyheart2.png">
         </div>
        </div> 
      </li>
      <li class="li-gift">
        <div class="gifturl">
          <div class="g_description" style="display: none;">
            <h2 class="giftname"></h2>
            <a class="url" target="_blank"></a>
            <img class="heart" src="/image/emptyheart2.png">
         </div>
        </div> 
      </li>
      <li class="li-gift">
        <div class="gifturl">
          <div class="g_description" style="display: none;">
            <h2 class="giftname"></h2>
            <a class="url" target="_blank"></a>
            <img class="heart" src="/image/emptyheart2.png">
         </div>
        </div> 
      </li>
      <li class="li-gift">
        <div class="gifturl">
          <div class="g_description" style="display: none;">
            <h2 class="giftname"></h2>
            <a class="url" target="_blank"></a>
            <img class="heart" src="/image/emptyheart2.png">
         </div>
        </div> 
      </li>
    </ul>
  </div>

    
  </body>
  </html>