<meta name="viewport" content="width=device-width,
 initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
 
 <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>

<style>
	
	
	.add_bud_container {
		width: 250px;
		height: 400px;
		position: absolute;
		top: 50%;
		margin-top: -200px;
		left: 50%;
		margin-left: -125px;
		position: fixed;
		background-color: white;
		z-index: 102;
		display: none;
		padding: 10px;
	}
	.create_result {
		width: 250px;
		height: 400px;
		position: absolute;
		top: 50%;
		margin-top: -200px;
		left: 50%;
		margin-left: -125px;
		position: fixed;
		background-color: white;
		z-index: 103;
		display: none;
		padding: 10px;
		text-align: center;
	}
	.background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		position: fixed;
		background-color: rgba(0,0,0,0.7);
		z-index: 101;
		display: none;
	}
	
	input {
		text-align: center;
	}

	textarea:focus {
		background-color: pink;
	}
	.create_button {
		padding: 10px;
		border: solid 1px blue;
		border-radius: 10px
	}
</style>

<script>
	$(function(){
		$('#add_bud_close').on('click',function(){
			$('.add_bud_container').fadeOut();
			$('.background').fadeOut();
		});
		$('.add_bud_button').on('click',function(){
			$('.add_bud_container').fadeIn();
			$('.background').fadeIn();
		});
		
		
		// ***************BUD CREATION***************
		
		$('#bud_create').on('click',function(){
			$('#create_result').html("<img src='/image/loading.gif' class='loader'>");
			dayName = $('#add_bud_form [name=dayName]').val();
			forWhom = $('#add_bud_form [name=forWhom]').val();
			concept = $('#add_bud_form [name=concept]').val();
			date = $('#add_bud_form [name=date]').val();
			year = date.split("-")[0];
			month = date.split("-")[1];
			day = date.split("-")[2];
			// day = $('#add_bud_form [name=day]').val();
			
			$.ajax({
						type: 'GET',
						url: '/calendar/ajaxcreate',
						data: {
							dayname: dayName,
							forwhom : forWhom,
							concept : concept,
							year: year,
							month: month,
							day: day
						},
						dataType: 'text'
					})
					.done(function( data, textStatus, jqXHR ) {
					        $('#create_result').html(data);
					        $('.create_result').fadeIn();
					})
					.fail(function( jqXHR, textStatus, errorThrown ) {
					       
					})
					.always(function( jqXHR, textStatus ) {
					        
					});
		});
		$('#create_again').on('click',function(){
		    $('.create_result').fadeOut();
		});
		$('#create_result_close').on('click',function(){
		    $('.create_result').fadeOut();
		    $('.add_bud_container').fadeOut();
		    $('.background').fadeOut();
		});
	})
</script>



<div class="background">
</div>

<div class="add_bud_container">
	<div class="header">
		<a class="close_button" href="javascript:void(0)" id="add_bud_close"></a>
	</div>
	<div class="create">
		<form name="add_bud_form" id="add_bud_form">
			<label>日付：<br><input id="date" type="date" name="date" value='<%= Date.today.year.to_s %>+"-"+<%= Date.today.month.to_s %>+"-"+<%= Date.today.day.to_s %>'></label><br>
			 <!--   <input type="radio" name="dateType" value="1">毎年-->
				<!--<input type="radio" name="dateType" value="2">毎月-->
				<!--<input type="radio" name="dateType" value="3">毎週<br>	-->
    		<label>名称：<br><input id="dayName" type="text" name="dayName" placeholder="バレンタインデー"></label><br>
    		<label>プレゼントを渡す相手：<br><input id="forWhom" type="text" name="forWhom" placeholder="恋人"></label><br>
    		<label>この日のコンセプト：<br><textarea id="concept" type="text" name="concept" col="4"></textarea></label><br>
    	</form>
    	<a class="create_button" id="bud_create" href="javascript:void(0)"><i class="glyphicon glyphicon-plus-sign"></i> 新しい日を作る</a>
	</div>
</div>
<div class="create_result">
	<a class="close_button" href="javascript:void(0)" id="create_result_close"></a>
	<div id="create_result"></div>
	<a class="create_button" id="create_again" href="javascript:void(0);"><i class="glyphicon glyphicon-repeat"></i> もう一度作る</a>
</div>


<style>
	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -6px;
		margin-left: -6px;
	}
</style>
<style>
    html {
    	height: 100%;
    }
	body {
		height: 100%;
		-webkit-background-size: 80px 80px;
        -moz-background-size: 80px 80px;
        background-size: 80px 80px;
        background-color: #A9F5F2;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0,
                    color-stop(.25, #CEF6F5), color-stop(.25, transparent),
                    color-stop(.5, transparent), color-stop(.5, #CEF6F5),
                    color-stop(.75, #CEF6F5), color-stop(.75, transparent),
                    to(transparent));
        background-image: -webkit-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
        background-image: -ms-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
        background-image: linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
	}
</style>
<!--Title-->
<style>
	.navbar {
	  background-color: #FFFFFF;
	  position: relative;
	}
	
	.add_bud_button {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		border: solid 3px white;
		top: 50%;
		margin-top: -20px;
		right: 10px;
		background-image: url('/image/add.png');
		/*background-color: rgb(90,165,114);*/
		border-radius: 50%;
		/*position: fixed;*/
		z-index: 100;
	}
	/*.add_bud_button::after {*/
	/*	content: "";*/
	/*	position: relative;*/
	/*	top: 50%;*/
	/*	left: 55%;*/
	/*	display:block;*/
	/*	width:10px;*/
	/*	height:10px;*/
	/*	background-image: url("/image/add.png"); */
	/*	background-size:contain;*/
	/*	background-position: center;*/
	/*}*/
	
	.homebtn:hover , .add_bud_button:hover {
		border: solid 5px rgb(245,176,144);
	}
	nav a:link {
		text-decoration:none;
		color: black;
	}
	nav a:visited {
		text-decoration:none;
		color: black;
	}
	nav a:active {
		text-decoration:none;
		color: black;
	}
	.homebtn {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border: solid 3px white;
		top: 50%;
		margin-top: -20px;
		right: 60px;
		background-image: url('/image/giftpic.png');
		/*background-color: rgb(90,165,114);*/
		border-radius: 50%;
		/*position: fixed;*/
		z-index: 100;
	}
	.icon {
		display: block;
		position: absolute;
		top: 15px;
		left: 50%;
		margin-left: -90px;
	}
</style>
<nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="/calendars"><i class="glyphicon glyphicon-home"></i> MooccaLendar</a>-->
        <img class="icon" src="/image/moccacalendar.png" height="20px">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">-->
        <!--  <span class="icon-bar" style="background-color:#000000;"></span>-->
        <!--  <span class="icon-bar" style="background-color:#000000;"></span>-->
        <!--  <span class="icon-bar" style="background-color:#000000;"></span>-->
        <!--</button>-->
      </div>  
      <!--<div id="nav-content" class="collapse navbar-collapse">-->
      <!--  <ul class="nav navbar-nav">-->
      <!--    <li><a href="/qflow" data-no-turbolink="1">Question<BR>質問で探す</a></li>-->
      <!--    <li><a href="/new_arrival" data-no-turbolink="1">New<BR>新しいアイテム</a></li>-->
      <!--    <li><a href="/info" data-no-turbolink="1">Information<BR>お問い合わせ</a></li>-->
      <!--  </ul>-->
      <!--</div>-->
      <a class="add_bud_button" href="javascript:void(0);"></a>
      <a class="homebtn" href="/"></a>
    </nav>

<style>
	.nearday {
		width: 100%;
		/*margin-left: 5%;*/
		margin-top: 20px;
		height: 110px;
		padding-top: 5px;
		padding-bottom: 5px;
		position: relative;
		background-color: rgba(255,255,255,0.7);
		border-top: double 5px  rgb(161,104,154);
		border-bottom: double 5px  rgb(161,104,154);
	}
	.move_btn {
		display: block;
		width: 15%;
		height: 100%;
		position: absolute;
		background-size: 30px 60px;
		background-position: center;
		background-repeat: no-repeat;
	}
	.backto {
		background-image: url('/image/left.png');
		top: 0;
		left: 0;
	}
	.nextto {
		background-image: url('/image/right.png');
		top: 0;
		right: 0;
	}
	.nearday_container {
		width: 70%;
		height: 100%;
		margin-left: 15%;
		margin-right: 15%;
		position: relative;
	}
	.nearday_date {
		width: 100%;
		height: 20%;
		line-height: 200%;
		text-align: center;
	}
	.nearday_name h3 {
		margin: 0;
		line-height: 40px;
	}
	.nearday_name {
		display: block;
		width: 100%;
		height: 40%;
		text-align: center;
	}
	.nearday_for_text {
		width: 100%;
		height: 25%;
		text-align: center;
	}
    .nearday_for_text h4 {
		margin: 0;
		line-height: 25px;
	}
	.nearday_for {
		width: 100%;
		height: 15%;
		line-height: 15px;
		text-align: center;
	}
</style>

<script>
	$(function(){
		var dayIndex=0;
		$('.nearday_container').html("<img src='/image/loading.gif' class='loader'>");
		$.ajax({
			type: 'GET',
			url: '/calendar/nearday',
			data: {
				index: dayIndex
			},
			dataType: 'text'
		})
		.done(function( data, textStatus, jqXHR ) {
		        $('.nearday_container').html(data);
		})
		.fail(function( jqXHR, textStatus, errorThrown ) {
		       
		})
		.always(function( jqXHR, textStatus ) {
		        
		});
		
		
		$('.backto').on('click',function(){
				$('.nearday_container').html("<img src='/image/loading.gif' class='loader'>");
				dayIndex--;
				$.ajax({
					type: 'GET',
					url: '/calendar/nearday',
					data: {
						index: dayIndex
					},
					dataType: 'text'
				})
				.done(function( data, textStatus, jqXHR ) {
				        $('.nearday_container').html(data);
				})
				.fail(function( jqXHR, textStatus, errorThrown ) {
				       
				})
				.always(function( jqXHR, textStatus ) {
				        
				});
		});
		
		$('.nextto').on('click',function(){
				$('.nearday_container').html("<img src='/image/loading.gif' class='loader'>");
				dayIndex++;
				$.ajax({
					type: 'GET',
					url: '/calendar/nearday',
					data: {
						index: dayIndex
					},
					dataType: 'text'
				})
				.done(function( data, textStatus, jqXHR ) {
				        $('.nearday_container').html(data);
				})
				.fail(function( jqXHR, textStatus, errorThrown ) {
				       
				})
				.always(function( jqXHR, textStatus ) {
				        
				});
		});
	})
</script>

<div class="nearday">
	<a class="backto move_btn" href="javascript:void(0);"></a>
	<a class="nextto move_btn" href="javascript:void(0);"></a>
	<div class="nearday_container">
		<div class="nearday_date">6月20日</div>
		<a class="nearday_name" href="javascript:void(0);"><h3>こんにちはの日</h3></a>
		<div class="nearday_for_text"><h4>こんな人にプレゼントを渡そう!!</h4></div>
		<div class="nearday_for">恋人</div>
	</div>
</div>

<!--**********************SEARCH FORM*******************************-->

<style>
		.search {
		width: 80%;
		height: 80px;
		margin-left: 5%;
		position:relative;
		/*float:left;*/
		background-color: white;
	}
	input , textarea{
		margin: 0;
		padding: 5px;
		background: none;
		border:none;
		border-radius: 0;
		outline: none;
		height: 38px;
	 /* 	-webkit-appearance: none;*/
		/*-moz-appearance: none;*/
		/*appearance: none;*/
	}
	textarea {
		border: solid 1px gray;
		height: 100px;
	}
	input[type="text"]{
		/*border-bottom: solid 1px gray;*/
	}
	.search_date {
		width: 100%;
		height: 40px;
		line-height: 40px;
		float: left;
		border-left: solid 1px gray;
		border-top: solid 1px gray;
		border-bottom: solid 1px gray;
		border-right: solid 1px gray;
		float: left;
		
	}
	.search_date input {
		width: 40%;
		text-align: center;
		line-height: 20px;
	}
	.search_word {
		width: 100%;
		height: 40px;
		border-left: solid 1px gray;
		border-top: solid 1px gray;
		border-bottom: solid 1px gray;
		float: left;
	}
	input:focus {
		background-color: pink;
	}
	.search_word input {
		width: 100%;
	}
	
	#fromdate {
		float: left;
	}
	#todate {
		float: right;
	}
	.search_button {
	  	display: block;
	  	height:40px;
	  	width: 40px;
	  	position: absolute;
	  	top: 0px;
	  	left: 100%;
	  	background-size: contain;
	  	background-position: center;
	  	background-repeat: no-repeat;
	  	background-image: url('/image/search.png');
	  	background-color: #D3EDFB;
	  	border: solid 1px gray;
	}
</style>
<h3 style="text-align:center;"></h3>
<div class="search">
	<form name="bud_search_form" id="bud_search_form">
		<div class="search_word">
			<input type="search" name="searchWord" placeholder="どんな日がいい？誰に渡したい？">
		</div>
		<div class="search_date">
			<input id="fromdate" type="date" name="fromDate" value='<%= Date.today.year.to_s %>+"-"+<%= Date.today.month.to_s %>+"-"+<%= Date.today.day.to_s %>' max="2999-12-31">～<input id="todate" type="date" name="toDate" value='<%= (Date.today.year+1).to_s %>+"-"+<%= Date.today.month.to_s %>+"-"+<%= Date.today.day.to_s %>' max="2999-12-31"> 
		</div>
	</form>
	<a class="search_button" id="bud_search" href="javascript:void(0)"></a>
</div>

<style>
	.search_result_container {
		width: 90%;
		margin-left: 5%;
		/*margin-bottom: 50px;*/
		height: 500px;
		position: relative;
		background-color: rgba(255,255,255,0.7);
		border: solid 2px rgb(0,30,67);
		display: none;
	}
	.header {
		width: 100%;
		height: 26px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.close_button {
		display: block;
		height: 26px;
		width: 26px;
		position: absolute;
		top: 5px;
		right: 5px;
		background-size: contain;
	  	background-position: center;
	  	background-image: url('/image/close.png');
	}
	.search_result {
		width: 90%;
		height: 450px;
		margin: 25px;
		position: relative;
		overflow-y: scroll;
	}
		.search_result::-webkit-scrollbar {
		    width: 8px;
		}
		 
		.search_result::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
		    border-radius: 6px;
		}
		 
		.search_result::-webkit-scrollbar-thumb {
		    border-radius: 6px;
		    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
		}
	.day_contents_container {
		width: 100%;
		height: 335px;
		position: relative;
		margin-top: 30px;
	}	
	.day_contents {
		width: 250px;
		height: 300px;
		padding: 5px;
		text-align: center;
		position: absolute;
		left: 50%;
		margin-left: -125px;
		top: 35px;
		/*background-color: white;*/
		border-bottom: solid 3px gray;
	}
	.day_date {
		height: 15px;
		line-height: 15px;
	}
	.day_name {
		height: 35px;
		line-height: 35px;
		font-size: 20px;
	}
	.day_concept {
		height: 120px;
		width: 200px;
		overflow-y: scroll;
		padding: 5px;
		margin-left: 25px;
		/*border-top: solid 1px;*/
		/*border-bottom: solid 1px;*/
		/*border-radius: 10px;*/
	}
	
	    .day_concept::-webkit-scrollbar {
		    width: 8px;
		}
		 
		.day_concept::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
		    border-radius: 6px;
		}
		 
		.day_concept::-webkit-scrollbar-thumb {
		    border-radius: 6px;
		    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
		}
	.day_for_title {
		margin-top: 10px;
		height: 15px;
		line-height: 15px;
	}
	.day_for {
		height: 25px;
		line-height: 25px;
		font-size: 20px;
	}
	.day_evals {
		width: 100px;
		height: 60px;
		position: absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -50px;
	}
	.day_eval {
		height: 60px;
		width: 35px;
		position: absolute;
		top: 0px;
	}
	#like_eval {
		left: 0px;
	}
	#dislike_eval {
		right: 0px;
	}
	.day_evalbtn {
		display:block;
		height: 35px;
		width: 35px;
		background-size: contain;
	  	background-position: 0px 0px;
	  	background-repeat: no-repeat;
	}
	#likebtn {
		background-image: url('/image/likebtn.jpg');
	}
	#dislikebtn {
		background-image: url('/image/dislikebtn.jpg');
	}
	.day_evalnum {
		height: 25px;
		width: 35px;
		text-align: center;
		line-height: 25px;
	}
	
	.type0::after {
		content: "";
		position: relative;
		top: -210px;
		left: 0px;
		display:block;
		width:30px;
		height:30px;
		background-image: url("/image/bud.png"); 
		background-size:contain;
		background-position: center;
		background-color: green;
		
	}
	
	.type1::after {
		content: "";
		position: relative;
		top: -210px;
		left: 0px;
		display:block;
		width:30px;
		height:30px;
		background-image: url("/image/flower.png"); 
		background-size:contain;
		background-position: center;
		background-color: pink;
		
	}
	
</style>

<style>
  .share {
    position: absolute;
    width: 240px;
    height: 35px;
    left: 50%;
    margin-left: -120px;
  }
  .share-box {
    height: 35px;
    width: 35px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    float: left;
  }
  .share-button {
    display:block;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-size: 35px 35px;
    text-indent: -9999px;
  }
  .phrase {
    background-image: url("/image/share.png");
  }
  .twitter {
    background-image: url('/image/Twitter.png');
  }
  .facebook {
    background-image: url('/image/Facebook.png');
  }
  .line {
    background-image: url('/image/Line.png');
  }
  .googleCalendar {
    background-image: url('/image/GoogleCalendar.png');
  }
</style>


<div class="search_result_container">
	<div class="header">
		<a class="close_button" href="javascript:void(0)" id="see_bud_close"></a>
	</div>
	<div class="search_result" id="bud_result">
	</div>
</div>

<script>
	$(function(){
		
		$('#bud_search').on('click',function(){
			$('.search_result_container').slideDown();
			$('#bud_result').html("<img src='/image/loading.gif' class='loader'>");
			searchWord = $('#bud_search_form [name=searchWord]').val();
			searchWordArray = searchWord.replace("　", " ").replace(/\s+/g," ").split(" ");
			searchWordWithoutSpace = searchWordArray.join(",");
			fromDate = $('#bud_search_form [name=fromDate]').val();
			toDate = $('#bud_search_form [name=toDate]').val();
			
			fromYear = fromDate.split("-")[0];
			fromMonth = fromDate.split("-")[1];
			fromDay = fromDate.split("-")[2];
			toYear = toDate.split("-")[0];
			toMonth = toDate.split("-")[1];
			toDay = toDate.split("-")[2];
			
			$.ajax({
						type: 'GET',
						url: '/calendar/search_bud',
						data: {
							searchword: searchWordWithoutSpace,
							fromyear: fromYear,
							frommonth: fromMonth,
							fromday: fromDay,
							toyear: toYear,
							tomonth: toMonth,
							today: toDay
						},
						dataType: 'text'
					})
					.done(function( data, textStatus, jqXHR ) {
					        $('#bud_result').html(data);
					})
					.fail(function( jqXHR, textStatus, errorThrown ) {
					       
					})
					.always(function( jqXHR, textStatus ) {
					        
					});
		});
		
		$("#bud_search_form").keypress(function(ev) {
				if ((ev.which && ev.which === 13) || (ev.keyCode && ev.keyCode === 13)) {
					$('.search_result_container').slideDown();
					$('#bud_result').html("<img src='/image/loading.gif' class='loader'>");
					searchWord = $('#bud_search_form [name=searchWord]').val();
					searchWordArray = searchWord.replace("　", " ").replace(/\s+/g," ").split(" ");
					searchWordWithoutSpace = searchWordArray.join(",");
					fromDate = $('#bud_search_form [name=fromDate]').val();
					toDate = $('#bud_search_form [name=toDate]').val();
					
					fromYear = fromDate.split("-")[0];
					fromMonth = fromDate.split("-")[1];
					fromDay = fromDate.split("-")[2];
					toYear = toDate.split("-")[0];
					toMonth = toDate.split("-")[1];
					toDay = toDate.split("-")[2];
					
					$.ajax({
						type: 'GET',
						url: '/calendar/search_bud',
						data: {
							searchword: searchWordWithoutSpace,
							fromyear: fromYear,
							frommonth: fromMonth,
							fromday: fromDay,
							toyear: toYear,
							tomonth: toMonth,
							today: toDay
						},
						dataType: 'text'
					})
					.done(function( data, textStatus, jqXHR ) {
					        $('#bud_result').html(data);
					})
					.fail(function( jqXHR, textStatus, errorThrown ) {
					       
					})
					.always(function( jqXHR, textStatus ) {
					        
					});
					return false;
				} else {
					return true;
				}
			});
			
			
			$('#see_bud_close').on('click',function(){
			    $('.search_result_container').slideUp();	
			});
		
		
			// ***************EVALUATION***************
		
		evalup = function(num){
			$('.cal_like'+num).html("<img src='/image/loading.gif' class='loader'>");
			$.ajax({
					type: 'GET',
					url: '/calendar/eval',
					data: {
						index: num,
						type: "up"
					},
					dataType: 'text'
				})
				.done(function( data, textStatus, jqXHR ) {
				        $('.cal_like'+num).html(data);
				        $('.cal_eval_like'+num).css('border','solid 1px green');
				        $('.cal_eval_like'+num).css('border-radius','50%');
						$('.cal_eval_like'+num).attr('onclick','void(0)');
						$('.cal_eval_dislike'+num).attr('onclick','void(0)');
				})
				.fail(function( jqXHR, textStatus, errorThrown ) {
				       
				})
				.always(function( jqXHR, textStatus ) {
				        
				});
		}
		
		evaldown =function(num){
			$('.cal_dislike'+num).html("<img src='/image/loading.gif' class='loader'>");
			$.ajax({
						type: 'GET',
						url: '/calendar/eval',
						data: {
							index: num,
							type: "down"
						},
						dataType: 'text'
					})
					.done(function( data, textStatus, jqXHR ) {
					        $('.cal_dislike'+num).html(data);
					        $('.cal_eval_dislike'+num).css('border','solid 1px red');
					        $('.cal_eval_dislike'+num).css('border-radius','50%');
							$('.cal_eval_like'+num).attr('onclick','void(0)');
							$('.cal_eval_dislike'+num).attr('onclick','void(0)');
					})
					.fail(function( jqXHR, textStatus, errorThrown ) {
					       
					})
					.always(function( jqXHR, textStatus ) {
					        
					});
		    }
	
	})
</script>

<!--**********************SEARCH FORM*******************************-->

<style>
	.main_contents_container {
		width: 90%;
		margin-left: 5%;
		/*margin-top: 50px;*/
		margin-bottom: 50px;
		height: 400px;
		position: relative;
		background-color: rgba(255,255,255,0.7);
		border: solid 5px rgb(0,30,67);
	}
	.main_contents {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50px;
		left: 0px;
	}
	
	    .create {
	    	width: 90%;
	    	margin-left: 5%;
	    }
	    .create_button {
	    	width: 200px;
	    	height: 75px;
	    	line-height: 75px;
	    	text-align: center;
	    }
	    .create {
	    	text-align: center;
	    }
</style>

<script>
	$(function(){
		
		var cal_year=<%= Date.today.year %>;
		var cal_month=<%= Date.today.month %>;
		
		$('.calendar').html("<img src='/image/loading.gif' class='loader'>");
		$.ajax({
			type: 'GET',
			url: '/calendar/get_calendar',
			data: {
				year: cal_year,
				month: cal_month
			},
			dataType: 'text'
		})
		.done(function( data, textStatus, jqXHR ) {
		        $('.calendar').html(data);
		        $('.show_month').html(cal_year+'年'+cal_month+'月');
		})
		.fail(function( jqXHR, textStatus, errorThrown ) {
		       
		})
		.always(function( jqXHR, textStatus ) {
		        
		});
		
		$('.prev_btn').on('click',function(){
			$('.calendar').html("<img src='/image/loading.gif' class='loader'>");
			var cal_num=cal_year*12+cal_month;
			cal_year=Math.floor(cal_num/12);
			if (cal_num%12==1){
				cal_month=12;
			} else {
				cal_month=cal_num%12-1;
			}
			// cal_num=cal_year*12+cal_month-1;
			$.ajax({
				type: 'GET',
				url: '/calendar/get_calendar',
				data: {
					year: cal_year,
					month: cal_month
				},
				dataType: 'text'
			})
			.done(function( data, textStatus, jqXHR ) {
			        $('.calendar').html(data);
			        $('.show_month').html(cal_year+'年'+cal_month+'月');
			})
			.fail(function( jqXHR, textStatus, errorThrown ) {
			       
			})
			.always(function( jqXHR, textStatus ) {
			        
			});
			
		});
		
		$('.next_btn').on('click',function(){
			$('.calendar').html("<img src='/image/loading.gif' class='loader'>");
			var cal_num=cal_year*12+cal_month;
			cal_year=Math.floor(cal_num/12);
			if (cal_num%12==0){
				cal_month=1;
			} else {
				cal_month=cal_num%12+1;
			}
			// cal_num=cal_year*12+cal_month+1;
			$.ajax({
				type: 'GET',
				url: '/calendar/get_calendar',
				data: {
					year: cal_year,
					month: cal_month
				},
				dataType: 'text'
			})
			.done(function( data, textStatus, jqXHR ) {
			        $('.calendar').html(data);
			        $('.show_month').html(cal_year+'年'+cal_month+'月');
			})
			.fail(function( jqXHR, textStatus, errorThrown ) {
			       
			})
			.always(function( jqXHR, textStatus ) {
			        
			});
			
		});
		
		getInfo = function(year,month,day){
			searchWord="";
			$.ajax({
				type: 'GET',
				url: '/calendar/search_bud',
				data: {
					searchword: searchWord,
					fromyear: year,
					frommonth: month,
					fromday: day,
					toyear: year,
					tomonth: month,
					today: day
				},
				dataType: 'text'
			})
			.done(function( data, textStatus, jqXHR ) {
			        $('#day_result').html(data);
			        $('.day_info').fadeIn();
			        $('.background').fadeIn();
			})
			.fail(function( jqXHR, textStatus, errorThrown ) {
			       
			})
			.always(function( jqXHR, textStatus ) {
			        
			});
		}
	})
</script>

<h3 style="text-align:center;"></h3>

<div class="main_contents_container">
	
	<!--デフォルトのコンテンツ-->
	<div class="main_contents" id="default_contents">
		<style>
			.calendar_header {
				width: 90%;
				margin-left: 5%;
				position: relative;
				text-align: center;
			}
			
			.prev_btn {
				position: absolute;
				left: 0px;
			}
			
			.next_btn {
				position: absolute;
				right: 0px;
			}
			
			.show_calendar {
				width: 90%;
				margin-left: 5%;
			}
			.show_calendar th{
				width: 60px;
				text-align: center;
				border-bottom: double 10px gray;
				border-top: double 10px gray;
				background-color: gray;
			}	
			.show_calendar td {
				height: 40px;
				/*border-bottom: solid 1px gray;*/
			}
			.calendar {
				height: 240px;
				position: relative;
				width: 100%;
				text-align: center;
			}
			td {
				position: relative;
			}
			.exist {
				display: block;
				line-height: 26px;
				top: 5px;
				position: absolute;
				left: 50%;
				margin-left: -15px;
				height: 30px;
				width: 30px;
				border: solid 2px blue;
				border-radius: 150px;
			}
			/*.exist::after {*/
			/*	position: relative;*/
			/*	display: block;*/
			/*	content="";*/
			/*	top: 0px;*/
			/*	left: 15px;*/
			/*	width: 60px;*/
			/*	height: 60px;*/
			/*	background-color: red;*/
			/*	border-radius: 30px;*/
			/*}*/
			.border_line {
				border-bottom: solid 1px gray;
			}
			h3.show_month {
				margin: 0;
			}
		</style>
		<div class="calendar_header">
			<a class="prev_btn" href="javascript:void(0);"><i class="glyphicon glyphicon-menu-left"></i></a>
			<a class="next_btn" href="javascript:void(0);"><i class="glyphicon glyphicon-menu-right"></i></a>
			<h3 class="show_month"><%= Date.today.year %>年 <%= Date.today.month %>月</h3>
			
		</div>
		
		<div class="calendar">
			<table class="show_calendar">
			<thead>
				<tr>
					<th>日</th>
					<th>月</th>
					<th>火</th>
					<th>水</th>
					<th>木</th>
					<th>金</th>
					<th>土</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td></td>
					<td></td>
					<td></td>
				<tr>
					<td>5</td>
					<td>6</td>
					<td></td>
					<td></td>
					<td></td>
					<td>7</td>
					<td>8</td>
				</tr>
				<tr>
					<td>9</td>
					<td></td>
					<td>10</td>
					<td></td>
					<td>11</td>
					<td></td>
					<td>12</td>
				</tr>
				<tr>
					<td>13</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>14</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	
</div>
<style>
	.day_info {
		height: 500px;
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -250px;
		margin-left: -150px;
		background-color: white;
		display: none;
		position: fixed;
		z-index: 102;
	}
	
</style>
<script>
	$(function(){
		
		$('#see_day_close').on('click',function(){
			$('.day_info').fadeOut();
			$('.background').fadeOut();
		});
	})
</script>
<div class="day_info">
	<div class="header">
		<a class="close_button" href="javascript:void(0)" id="see_day_close"></a>
	</div>
	<div class="search_result" id="day_result">
	</div>
</div>




