<!DOCTYPE html>
<html>
<!-- MEMO: update me with `git checkout gh-pages && git merge master && git push origin gh-pages` -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <title>Gift App -question-</title>

  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  
  <!--Pointer-->
  <script src="/pointer/pointer.js"></script>
  
  <!--Shuffle Letters-->
  <script src="/shuffleLetters/jquery.shuffleLetters.js"></script>
  
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script>
    (function () {

      var $button = $("<div id='source-button' class='btn btn-primary btn-xs'>&lt; &gt;</div>").click(function () {
        var index = $('.bs-component').index($(this).parent());
        $.get(window.location.href, function (data) {
          var html = $(data).find('.bs-component').eq(index).html();
          html = cleanSource(html);
          $("#source-modal pre").text(html);
          $("#source-modal").modal();
        })

      });

      $('.bs-component [data-toggle="popover"]').popover();
      $('.bs-component [data-toggle="tooltip"]').tooltip();

      $(".bs-component").hover(function () {
        $(this).append($button);
        $button.show();
      }, function () {
        $button.hide();
      });

      function cleanSource(html) {
        var lines = html.split(/\n/);

        lines.shift();
        lines.splice(-1, 1);

        var indentSize = lines[0].length - lines[0].trim().length,
            re = new RegExp(" {" + indentSize + "}");

        lines = lines.map(function (line) {
          if (line.match(re)) {
            line = line.substring(indentSize);
          }

          return line;
        });

        lines = lines.join("\n");

        return lines;
      }

      $(".icons-material .icon").each(function () {
        $(this).after("<br><br><code>" + $(this).attr("class").replace("icon ", "") + "</code>");
      });

    })();

  </script>
 
  <!--Main Script-->
  
  <%= javascript_tag do %>
    window.onload = init;
    function init(){
      var Question=[];
      var Questionid=[];
      var n=0;
      <% @questions.each do |q| %>
        Question[n]= "<%= q.body %>";
        Questionid[n]= <%= q.id %>;
        n++;
      <% end %>
      qtext = document.getElementById("qtext");
      btn1 = document.getElementById("btn1");
      btn2 = document.getElementById("btn2");
      ans = document.getElementById("ans");
      postdata1 = document.getElementById("postdata1");
      postdata2 = document.getElementById("postdata2");
      var num=5;
      var i = 0;
      var j = 0;
      var ansarray = [];
      
      qtext.innerText="Q"+(i+1)+". "+Question[i]
      i++;
        btn1.onclick = function(){
          if(i<num){
            qtext.innerText="Q"+(i+1)+". "+Question[i]
            ansarray[j]=1;
            i++;
            j++;
          } else {
            ansarray[j]=1;
            postdata1.value=ansarray;
            postdata2.value=Questionid;
            document.frm.submit();
          }
        }
        btn2.onclick = function(){
          if(i<num){
            qtext.innerText="Q"+(i+1)+". "+Question[i]
            ansarray[j] = 2 ;
            i++;
            j++;
          } else {
            ansarray[j] = 2 ;
            postdata1.value=ansarray;
            postdata2.value=Questionid;
            document.frm.submit();
          }
        }
    }


  <% end %>

  <!--Main Script-->

  <style>
    html {
      height: 100%;
      background: #C9FFBF; /* fallback for old browsers */
      background: -webkit-linear-gradient(#C9FFBF , #FFAFBD); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(#C9FFBF , #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      /*background-color:rgba(0,30,67,1);*/
    }
    body {
      background: rgba(255,255,255,0);
      <!--background: #C9FFBF; /* fallback for old browsers */-->
      <!--background: -webkit-linear-gradient(#C9FFBF , #FFAFBD); /* Chrome 10-25, Safari 5.1-6 */-->
      <!--background: linear-gradient(#C9FFBF , #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */-->
      <!--/*background-color:rgba(0,30,67,1);*/-->
    }
    .question {
      margin-top: 5%;
    }

    body {
      position: relative;
    }
    
    .btn-choice {
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      border-radius: 10px;
      
    }
    
    .btn-choice:hover {
    color: #0089ff;
    border-color: #0089ff;
    background-color: rgba(0,0,0,0);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    }

    .appname {
      margin-left: auto;
      margin-right: auto;

      background: url("/image/s_backlogo2.png");
      margin-top: 120px;;
      height: 199px;
      width: 400px;
    }
    .appname p {
      line-height: 199px;
      font-size: 5em;
      text-align: center;
      text-shadow: 1px 1px 10px #FFFFFF;
      /*color: #000;*/
      color: #FFFFFF;
    }
    
    #qtext {
      <!--color: #FFFFFF;-->
      color: #000000;
    }
    
  	<!--曇りガラス START-->
    *::before,
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .panel-in::before,
    .panel {
        background: url("bg.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .panel {
        position: relative;
    }
    .panel-in::before {
        content: "";
        position: absolute;
        background-clip: content-box;
        width: 100%;
        height: 100%;
        padding: 30px;
        top: 0;
        left: 0;
        -webkit-filter: blur(100px);
        filter: blur(100px);
    }
    .panel-in {
        padding: 30px;
        position: relative;
    }
    .panel-main {
        padding: 30px;
        z-index: 30;
        position: relative;
        margin-bottom: 0;
        border: solid 1px rgba(255,255,255,0.4);
        background: rgba(255,255,255,0.4);
    }
  	<!--曇りガラス END-->

  </style>
</head>
  <body>
    <p id="ans"></p>
    <div class="appname">
      <p><strong>Question</strong></p>
    </div>
    <div class="question panel">
      <div class="container panel-in">
        <div class="row panel-main">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8">
            <!--<div class="well infobox">-->
            <div>
              <h1 id="qtext"></h1>
                  <div class="row bs-component">
                    <div class="col-xs-1"></div>
                    <a class="col-xs-4 btn btn-lg btn-choice" id="btn1">YES</a>
                    <div class="col-xs-2"></div>
                    <a class="col-xs-4 btn btn-lg btn-choice" id="btn2">NO</a>
                    <div class="col-xs-1"></div>
                  </div>
            </div>
          </div>
          <div class="col-xs-2">
          </div>
        </div>
      </div>
    </div>
    
    <%= form_tag('result/index' , :name => :frm , :method => :post) do %>
      <%= hidden_field_tag :postdata1 %>
      <%= hidden_field_tag :postdata2 %>
    <% end %>

  </body>
  </html>