  <%= provide(:title, "Question") %>

  <!--Animation-->
  <link rel="stylesheet" href="/animation/animate.css">
  
  <link rel="stylesheet" href="/layout/css/m/mquestion.css">
  <script src="/layout/js/m/tapbutton.js"></script>
  
  <link rel="stylesheet" href="/layout/css/m/howto.css">
  <script src="/layout/js/m/howto.js"></script>

  <!--Main Script-->
  
  <%= javascript_tag do %>
    var Question=[];
    var Questionid=[];
    var n=0;
    <% @questions.each do |q| %>
      Question[n]= "<%= q.body %>";
      Questionid[n]= <%= q.id %>;
      n++;
    <% end %>
  <% end %>
  
  <script src="/layout/js/m/mquestion.js"></script>

  <!--Main Script-->
            
  <script>
  $('head').append(
    '<style type="text/css">.contents { display: none; } #fade, #loader { display: block; }</style>'
  );
   
  jQuery.event.add(window,"load",function() { // 全ての読み込み完了後に呼ばれる関数
      var pageH = $(".contents").height()+100;
   
      $("#fade").css("height", pageH).delay(0).fadeOut(1000);
      $("#loader").delay(0).fadeOut(1000);
      $(".contents").css("display", "block");
  });
  
    
  $(document).ready(function(){
    
     $('.choices').on('click', 
         function(e){
             e.preventDefault();
             $('#qtext').removeClass().addClass('fadeIn'+' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
               $(this).removeClass();
         });
        }
      );
  
      
  });
  

  </script>
  <div id="loader"><img src="/image/gif05.gif" height="200px" width="200px"><BR>Loading...</div>
  <div id="fade"></div>
  <div class="desc">これからの質問は<BR>ギフトを渡す<BR><strong><font size="3em">"相手の事"</font></strong><BR>を考えて答えてください</div>
  <div class="qheader">
    <img class="qimage" src="/image/q_trans.png">                        
    <div id="qtext" class></div>                        
  </div>
  <div class="choices">
    <a href="javascript:void(0)" class="btns btn-lg btn-block" id="btn1">YES</a>
    <a href="javascript:void(0)" class="btns btn-lg btn-block" id="btn2">NO</a>
  </div>

  <%= form_tag('/result' , :name => :frm , :method => :post) do %>
    <%= hidden_field_tag :postdata1 %>
    <%= hidden_field_tag :postdata2 %>
  <% end %>