  <%= provide(:title, "Question") %>
  
  <!--Animation-->
  <link rel="stylesheet" href="/animation/animate.css">
  

  <%= javascript_tag do %>
  var Question=[];
  var Questionid=[];
  var n=0;
  <% @questions.each do |q| %>
        Question[n]= "<%= q.body %>";
        Questionid[n]= <%= q.id %>;
        n++;
  <% end %>
  <% end %>
  <script src="/layout/js/question.js"></script>
  <link href="/layout/css/question.css" type="text/css" rel="stylesheet">
  
  <script>
    
  $(document).ready(function(){
      setTimeout(function(){$( '.contents' ).fadeIn();},1000);
      setTimeout(function(){$( '.desc' ).fadeIn();},2000);
      setTimeout(function(){$( '.desc' ).fadeOut();},4000);
      setTimeout(function(){$( '.qheader' ).fadeIn();},5000);
      setTimeout(function(){$( '.choices' ).fadeIn();},5000);
     
     $('.choice').on('click', 
         function(e){
             e.preventDefault();
             $('#qtext').removeClass().addClass('fadeIn'+' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
               $(this).removeClass();
         });
        }
      );
              
  });

  </script>
  
<div class="contents">
  
  <div class="desc">これからの質問は<BR>ギフトを渡す<BR><strong><font size="10em">"相手の事"</font></strong><BR>を考えて答えてください</div>
    <div class="qheader">
      <div class="qframe">
        <img class="qimage" src="/image/q_trans.png">                        
      </div>
      <div class="qtextframe">
        <div id="qtext" class></div>                        
      </div>
    </div>
    <div class="choices">
      <div class="choiceframe1">
        <a href="javascript:void(0)" class="choice yes-btn" id="btn1">YES</a>
      </div>
      <div class="choiceframe2">
        <a href="javascript:void(0)" class="choice no-btn" id="btn2">NO</a>
      </div>
    </div>
    
    <%= form_tag('/result' , :name => :frm , :method => :post) do %>
      <%= hidden_field_tag :postdata1 %>
      <%= hidden_field_tag :postdata2 %>
    <% end %>
</div>