<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @info.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @info.content %>
</p>

<p>
  <strong>Img:</strong>
  <%= image_tag(img_info_path(@info), :height => "100px") %>
</p>

<p>
  <strong>Img content type:</strong>
  <%= @info.img_content_type %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
