<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
     
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   
   <link rel="shortcut icon" href="/image/mocca_favicon.png">
   
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
    
    <link href="/layout/css/m/mlayout.css" rel="stylesheet">
    <script src="/layout/js/m/mlayout.js"></script>
  
    <title>MOCCA|素敵なプレゼントを探したいあなたに！ <%= yield(:title) %></title>
    <meta name="description" content="MOCCAは素敵なプレゼントを選びたいを叶えます">
    <meta name="keywords" content="プレゼント,ギフト,最適,素敵,選ぶ,探す">
    
  </head>
  <style>
  .homebutton {
    display: block;
    height: 40px;
    width: 120px;
		position: absolute;
		top: 5px;
		left: 50%;
		margin-left: -60px;
		background-image: url('/image/smalllogo.png');
		background-position: center;
		background-size: contain;
		
  }
  </style>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <a class="homebutton" href="/"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar" style="background-color:#000000;"></span>
          <span class="icon-bar" style="background-color:#000000;"></span>
          <span class="icon-bar" style="background-color:#000000;"></span>
        </button>
      </div>  
      <div id="nav-content" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/qflow" data-no-turbolink="1">Question<BR>質問で探す</a></li>
          <li><a href="/new_arrival" data-no-turbolink="1">New<BR>新しいアイテム</a></li>
          <li><a href="/info" data-no-turbolink="1">Information<BR>お問い合わせ</a></li>
        </ul>
      </div>
    </nav>
    <!--<div id="loader"><img src="/image/gif05.gif" height="200px" width="200px"><BR>Loading...</div>-->
    <!--<div id="fade"></div>-->
    <div class="contents">
  
    <%= yield %>
    
    </div>
  
  </body>
</html>
