<!DOCTYPE html>
<html lang="ja">
<head>
  
  <title>MOCCA|素敵なプレゼントを探したいあなたに！</title>
  <meta name="description" content="MOCCAは素敵なプレゼントを選びたいを叶えます">
  <meta name="keywords" content="プレゼント,ギフト,最適,素敵,選ぶ,探す,gift,present,find">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="shortcut icon" href="/image/mocca_favicon.png">
  
  <!--JQuery-->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  
  <!-- Bootstrap -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  
</head>
<body>
  <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
  <%# if user_signed_in? %> 
    <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
    <!-- *_path はUserモデルを作成したときに、
      deviseにより自動で作成されてますので、rake routesで確認できます -->
    <!--Logged in as <strong><%#= current_user.name %></strong>.-->
    <%#= link_to 'プロフィール変更', edit_user_registration_path %> |
    <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%# else %>
    <%#= link_to "サインイン", new_user_registration_path %> |
    <%#= link_to "ログイン", new_user_session_path %>
  <%# end %>
  
  <%#= link_to image_tag('/image/Facebook.png'), user_facebook_omniauth_authorize_path %>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>